#checkbox-container{background-color: rgb(211, 17, 17)!important;}

/* html body { background: grey !important;} */

body { background-color: #000000 !important;
margin-bottom: 20px;}

h2{color: white;}


h1 {color:rgb(211, 17, 17);}

#nav-toggle-button span{background-color: black !important;}

input[type='checkbox'] {
    width: 30px;
    height: 30px;        
}

label{
    font-size: x-large;
    color: black;
    font-style: italic;
}

