<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Antique Alcohol</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Tennesse Whiskey</h2>
    <input type="checkbox" id="alcohol1">
    <input type="checkbox" id="alcohol12">
    <input type="checkbox" id="alcohol13">
    <input type="checkbox" id="alcohol14">
    <input type="checkbox" id="alcohol15">
    <input type="checkbox" id="alcohol16">
    <input type="checkbox" id="alcohol17">
    <input type="checkbox" id="alcohol18">
    <input type="checkbox" id="alcohol19">
    <input type="checkbox" id="alcohol10">
  </div>
  <div>
    <h2>Irish Whiskey</h2>
    <input type="checkbox" id="IW1">
    <input type="checkbox" id="IW2">
    <input type="checkbox" id="IW3">
    <input type="checkbox" id="IW4">
    <input type="checkbox" id="IW5">
    <input type="checkbox" id="IW6">
    <input type="checkbox" id="IW7">
    <input type="checkbox" id="IW8">
    <input type="checkbox" id="IW9">
    <input type="checkbox" id="IW10">
  </div>
  <div>
    <h2>Scotch Whiskey</h2>
    <input type="checkbox" id="SW1">
    <input type="checkbox" id="SW2">
    <input type="checkbox" id="SW3">
    <input type="checkbox" id="SW4">
    <input type="checkbox" id="SW5">
    <input type="checkbox" id="SW6">
    <input type="checkbox" id="SW7">
    <input type="checkbox" id="SW8">
    <input type="checkbox" id="SW9">
    <input type="checkbox" id="SW10">
  </div>
  <div>
    <h2>Absinthe</h2>
    <input type="checkbox" id="A1">
    <input type="checkbox" id="A2">
    <input type="checkbox" id="A3">
    <input type="checkbox" id="A4">
    <input type="checkbox" id="A5">
    <input type="checkbox" id="A6">
    <input type="checkbox" id="A7">
    <input type="checkbox" id="A8">
    <input type="checkbox" id="A9">
    <input type="checkbox" id="A10">
  </div>
  <div>
    <h2>Gran Curazon Madeira</h2>
    <input type="checkbox" id="GC1">
    <input type="checkbox" id="GC2">
    <input type="checkbox" id="GC3">
    <input type="checkbox" id="GC4">
    <input type="checkbox" id="GC5">
    <input type="checkbox" id="GC6">
    <input type="checkbox" id="GC7">
    <input type="checkbox" id="GC8">
    <input type="checkbox" id="GC9">
    <input type="checkbox" id="GC10">
  </div>
  <div>
    <h2>Old Tom Gin</h2>
    <input type="checkbox" id="OTG1">
    <input type="checkbox" id="OTG2">
    <input type="checkbox" id="OTG3">
    <input type="checkbox" id="OTG4">
    <input type="checkbox" id="OTG5">
    <input type="checkbox" id="OTG6">
    <input type="checkbox" id="OTG7">
    <input type="checkbox" id="OTG8">
    <input type="checkbox" id="OTG9">
    <input type="checkbox" id="OTG10">
  </div>
  <div>
    <h2>Caribbean Rum</h2>
    <input type="checkbox" id="CR1">
    <input type="checkbox" id="CR2">
    <input type="checkbox" id="CR3">
    <input type="checkbox" id="CR4">
    <input type="checkbox" id="CR5">
    <input type="checkbox" id="CR6">
    <input type="checkbox" id="CR7">
    <input type="checkbox" id="CR8">
    <input type="checkbox" id="CR9">
    <input type="checkbox" id="CR10">
  </div>
  <div>
    <h2>Cognac</h2>
    <input type="checkbox" id="C1">
    <input type="checkbox" id="C2">
    <input type="checkbox" id="C3">
    <input type="checkbox" id="C4">
    <input type="checkbox" id="C5">
    <input type="checkbox" id="C6">
    <input type="checkbox" id="C7">
    <input type="checkbox" id="C8">
    <input type="checkbox" id="C9">
    <input type="checkbox" id="C10">
  </div>
  <div>
    <h2>London Dry Gin</h2>
    <input type="checkbox" id="LDG1">
    <input type="checkbox" id="LDG2">
    <input type="checkbox" id="LDG3">
    <input type="checkbox" id="LDG4">
    <input type="checkbox" id="LDG5">
    <input type="checkbox" id="LDG6">
    <input type="checkbox" id="LDG7">
    <input type="checkbox" id="LDG8">
    <input type="checkbox" id="LDG9">
    <input type="checkbox" id="LDG10">
  </div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>
