<!DOCTYPE html>
<html>
<body>

<h1>Form with checkboxes</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container">
  <div>
    <label for="alcohol1">Tennesse Whiskey</label>
    <input type="checkbox" id="alcohol1">
    <input type="checkbox" id="alcohol12">
    <input type="checkbox" id="alcohol13">
    <input type="checkbox" id="alcohol14">
    <input type="checkbox" id="alcohol15">
    <input type="checkbox" id="alcohol16">
    <input type="checkbox" id="alcohol17">
    <input type="checkbox" id="alcohol18">
    <input type="checkbox" id="alcohol19">
    <input type="checkbox" id="alcohol10">
  </div>
  <div>
    <label for="IW1">Irish Whiskey</label>
    <input type="checkbox" id="IW1">
    <input type="checkbox" id="IW2">
    <input type="checkbox" id="IW3">
    <input type="checkbox" id="IW4">
    <input type="checkbox" id="IW5">
    <input type="checkbox" id="IW6">
    <input type="checkbox" id="IW7">
    <input type="checkbox" id="IW8">
    <input type="checkbox" id="IW9">
    <input type="checkbox" id="IW10">
  </div>
  <div>
    <label for="alcohol3">Scotch Whiskey</label>
    <input type="checkbox" id="SW1">
    <input type="checkbox" id="SW2">
    <input type="checkbox" id="SW3">
    <input type="checkbox" id="SW4">
    <input type="checkbox" id="SW5">
    <input type="checkbox" id="SW6">
    <input type="checkbox" id="SW7">
    <input type="checkbox" id="SW8">
    <input type="checkbox" id="SW9">
    <input type="checkbox" id="SW10">
  </div>
  <div>
    <label for="alcohol4">Absinthe</label>
    <input type="checkbox" id="A1">
    <input type="checkbox" id="A2">
    <input type="checkbox" id="A3">
    <input type="checkbox" id="A4">
    <input type="checkbox" id="A5">
    <input type="checkbox" id="A6">
    <input type="checkbox" id="A7">
    <input type="checkbox" id="A8">
    <input type="checkbox" id="A9">
    <input type="checkbox" id="A10">
  </div>
  <div>
    <label for="alcohol5">Gran Curazon Madeira</label>
    <input type="checkbox" id="GC1">
    <input type="checkbox" id="GC2">
    <input type="checkbox" id="GC3">
    <input type="checkbox" id="GC4">
    <input type="checkbox" id="GC5">
    <input type="checkbox" id="GC6">
    <input type="checkbox" id="GC7">
    <input type="checkbox" id="GC8">
    <input type="checkbox" id="GC9">
    <input type="checkbox" id="GC10">
  </div>
  <div>
    <label for="alcohol6">Old Tom Gin</label>
    <input type="checkbox" id="OTG1">
    <input type="checkbox" id="OTG2">
    <input type="checkbox" id="OTG3">
    <input type="checkbox" id="OTG4">
    <input type="checkbox" id="OTG5">
    <input type="checkbox" id="OTG6">
    <input type="checkbox" id="OTG7">
    <input type="checkbox" id="OTG8">
    <input type="checkbox" id="OTG9">
    <input type="checkbox" id="OTG10">
  </div>
  <div>
    <label for="alcohol7">Caribbean Rum</label>
    <input type="checkbox" id="CR1">
    <input type="checkbox" id="CR2">
    <input type="checkbox" id="CR3">
    <input type="checkbox" id="CR4">
    <input type="checkbox" id="CR5">
    <input type="checkbox" id="CR6">
    <input type="checkbox" id="CR7">
    <input type="checkbox" id="CR8">
    <input type="checkbox" id="CR9">
    <input type="checkbox" id="CR10">
  </div>
  <div>
    <label for="alcohol8">Cognac</label>
    <input type="checkbox" id="C1">
    <input type="checkbox" id="C2">
    <input type="checkbox" id="C3">
    <input type="checkbox" id="C4">
    <input type="checkbox" id="C5">
    <input type="checkbox" id="C6">
    <input type="checkbox" id="C7">
    <input type="checkbox" id="C8">
    <input type="checkbox" id="C9">
    <input type="checkbox" id="C10">
  </div>
  <div>
    <label for="alcohol9">London Dry Gin</label>
    <input type="checkbox" id="LDG1">
    <input type="checkbox" id="LDG2">
    <input type="checkbox" id="LDG3">
    <input type="checkbox" id="LDG4">
    <input type="checkbox" id="LDG5">
    <input type="checkbox" id="LDG6">
    <input type="checkbox" id="LDG7">
    <input type="checkbox" id="LDG8">
    <input type="checkbox" id="LDG9">
    <input type="checkbox" id="LDG10">
  </div>
  <button>Check All</button>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>
</body>
</html>
