<!DOCTYPE html>
<html>
<body>

<h1>Arrowheads</h1>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container">
  <div>
    <label for="rough">Rough</label>
    <input type="checkbox" id="rough1">
    <input type="checkbox" id="rough2">
    <input type="checkbox" id="rough3">
    <input type="checkbox" id="rough4">
    <input type="checkbox" id="rough5">
    <input type="checkbox" id="rough16">
    <input type="checkbox" id="rough17">
    <input type="checkbox" id="rough18">
    <input type="checkbox" id="rough19">
    <input type="checkbox" id="rough10">
  </div>
  <div>
    <label for="splintered">Splintered</label>
    <input type="checkbox" id="splintered1">
    <input type="checkbox" id="splintered2">
    <input type="checkbox" id="splintered3">
    <input type="checkbox" id="splintered4">
    <input type="checkbox" id="splintered5">
    <input type="checkbox" id="splintered6">
    <input type="checkbox" id="splintered7">
    <input type="checkbox" id="splintered8">
    <input type="checkbox" id="splintered9">
    <input type="checkbox" id="splintered10">
  </div>
  <div>
    <label for="crude">crude</label>
    <input type="checkbox" id="crude1">
    <input type="checkbox" id="crude2">
    <input type="checkbox" id="crude3">
    <input type="checkbox" id="crude4">
    <input type="checkbox" id="crude5">
    <input type="checkbox" id="crude6">
    <input type="checkbox" id="crude7">
    <input type="checkbox" id="crude8">
    <input type="checkbox" id="crude9">
    <input type="checkbox" id="crude10">
  </div>
  <div>
    <label for="chipped">Chipped</label>
    <input type="checkbox" id="Chipped1">
    <input type="checkbox" id="Chipped2">
    <input type="checkbox" id="Chipped3">
    <input type="checkbox" id="Chipped4">
    <input type="checkbox" id="Chipped5">
    <input type="checkbox" id="Chipped6">
    <input type="checkbox" id="Chipped7">
    <input type="checkbox" id="Chipped8">
    <input type="checkbox" id="Chipped9">
    <input type="checkbox" id="Chipped10">
  </div>
  <div>
    <label for="Feldspar">Feldspar</label>
    <input type="checkbox" id="feldspar1">
    <input type="checkbox" id="feldspar2">
    <input type="checkbox" id="feldspar3">
    <input type="checkbox" id="feldspar4">
    <input type="checkbox" id="feldspar5">
    <input type="checkbox" id="feldspar6">
    <input type="checkbox" id="feldspar7">
    <input type="checkbox" id="feldspar8">
    <input type="checkbox" id="feldspar9">
    <input type="checkbox" id="feldspar10">
  </div>
  <div>
    <label for="Slate">Slate</label>
    <input type="checkbox" id="slate1">
    <input type="checkbox" id="slate2">
    <input type="checkbox" id="slate3">
    <input type="checkbox" id="slate4">
    <input type="checkbox" id="slate5">
    <input type="checkbox" id="slate6">
    <input type="checkbox" id="slate7">
    <input type="checkbox" id="slate8">
    <input type="checkbox" id="slate9">
    <input type="checkbox" id="slate10">
  </div>
  <div>
    <label for="Bone">Bone</label>
    <input type="checkbox" id="bone1">
    <input type="checkbox" id="bone2">
    <input type="checkbox" id="bone3">
    <input type="checkbox" id="bone4">
    <input type="checkbox" id="bone5">
    <input type="checkbox" id="bone6">
    <input type="checkbox" id="bone7">
    <input type="checkbox" id="bone8">
    <input type="checkbox" id="bone9">
    <input type="checkbox" id="bone10">
  </div>
  <div>
    <label for="raw">Raw</label>
    <input type="checkbox" id="rawC1">
    <input type="checkbox" id="rawC2">
    <input type="checkbox" id="rawC3">
    <input type="checkbox" id="rawC4">
    <input type="checkbox" id="rawC5">
    <input type="checkbox" id="rawC6">
    <input type="checkbox" id="rawC7">
    <input type="checkbox" id="rawC8">
    <input type="checkbox" id="rawC9">
    <input type="checkbox" id="rawC10">
  </div>
  <div>
    <label for="Obsidian">Obsidian</label>
    <input type="checkbox" id="obsidian1">
    <input type="checkbox" id="obsidian2">
    <input type="checkbox" id="obsidian3">
    <input type="checkbox" id="obsidian4">
    <input type="checkbox" id="obsidian5">
    <input type="checkbox" id="obsidian6">
    <input type="checkbox" id="obsidian7">
    <input type="checkbox" id="obsidian8">
    <input type="checkbox" id="obsidian9">
    <input type="checkbox" id="obsidian10">
  </div>
  <div>
    <label for="Quartz">Quartz</label>
    <input type="checkbox" id="Quartz1">
    <input type="checkbox" id="Quartz2">
    <input type="checkbox" id="Quartz3">
    <input type="checkbox" id="Quartz4">
    <input type="checkbox" id="Quartz5">
    <input type="checkbox" id="Quartz6">
    <input type="checkbox" id="Quartz7">
    <input type="checkbox" id="Quartz8">
    <input type="checkbox" id="Quartz9">
    <input type="checkbox" id="Quartz100">
  </div>
  <div>
    <label for="Flint">Flint</label>
    <input type="checkbox" id="Flint1">
    <input type="checkbox" id="Flint2">
    <input type="checkbox" id="Flint3">
    <input type="checkbox" id="Flint4">
    <input type="checkbox" id="Flint5">
    <input type="checkbox" id="Flint6">
    <input type="checkbox" id="Flint7">
    <input type="checkbox" id="Flint8">
    <input type="checkbox" id="Flint9">
    <input type="checkbox" id="Flint10">
  </div>
  <div>
    <label for="Agate">Agate</label>
    <input type="checkbox" id="Agate1">
    <input type="checkbox" id="Agate2">
    <input type="checkbox" id="Agate3">
    <input type="checkbox" id="Agate4">
    <input type="checkbox" id="Agate5">
    <input type="checkbox" id="Agate6">
    <input type="checkbox" id="Agate7">
    <input type="checkbox" id="Agate8">
    <input type="checkbox" id="Agate9">
    <input type="checkbox" id="Agate10">
  </div>
  <button>Check All</button>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="static/checkbox.js"></script>
</body>
</html>