<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Bracelets</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Abello Ruby Bangle Bracelet</h2>
    <input type="checkbox" id="ARBB1">
    <input type="checkbox" id="ARBB2">
    <input type="checkbox" id="ARBB3">
    <input type="checkbox" id="ARBB4">
    <input type="checkbox" id="ARBB5">
    <input type="checkbox" id="ARBB16">
    <input type="checkbox" id="ARBB17">
    <input type="checkbox" id="ARBB18">
    <input type="checkbox" id="ARBB19">
    <input type="checkbox" id="ARBB10">
  </div>
  <div>
    <h2>Ojeda Rose Gold Bangle Bracelet</h2>
    <input type="checkbox" id="ORGBB1">
    <input type="checkbox" id="ORGBB2">
    <input type="checkbox" id="ORGBB3">
    <input type="checkbox" id="ORGBB4">
    <input type="checkbox" id="ORGBB5">
    <input type="checkbox" id="ORGBB6">
    <input type="checkbox" id="ORGBB7">
    <input type="checkbox" id="ORGBB8">
    <input type="checkbox" id="ORGBB9">
    <input type="checkbox" id="ORGBB10">
  </div>
  <div>
    <h2>Helena Sapphire Bracelet</h2>
    <input type="checkbox" id="HSB1">
    <input type="checkbox" id="HSB2">
    <input type="checkbox" id="HSB3">
    <input type="checkbox" id="HSB4">
    <input type="checkbox" id="HSB5">
    <input type="checkbox" id="HSB6">
    <input type="checkbox" id="HSB7">
    <input type="checkbox" id="HSB8">
    <input type="checkbox" id="HSB9">
    <input type="checkbox" id="HSB10">
  </div>
  <div>
    <h2>Durant Pearl Bracelet</h2>
    <input type="checkbox" id="DPB1">
    <input type="checkbox" id="DPB2">
    <input type="checkbox" id="DPB3">
    <input type="checkbox" id="DPB4">
    <input type="checkbox" id="DPB5">
    <input type="checkbox" id="DPB6">
    <input type="checkbox" id="DPB7">
    <input type="checkbox" id="DPB8">
    <input type="checkbox" id="DPB9">
    <input type="checkbox" id="DPB10">
  </div>
  <div>
    <h2>Infanta Turquoise Bracelet</h2>
    <input type="checkbox" id="ITB1">
    <input type="checkbox" id="ITB2">
    <input type="checkbox" id="ITB3">
    <input type="checkbox" id="ITB4">
    <input type="checkbox" id="ITB5">
    <input type="checkbox" id="ITB6">
    <input type="checkbox" id="ITB7">
    <input type="checkbox" id="ITB8">
    <input type="checkbox" id="ITB9">
    <input type="checkbox" id="ITB10">
  </div>
  <div>
    <h2>Elliston Carved Bracelet</h2>
    <input type="checkbox" id="ECB1">
    <input type="checkbox" id="ECB2">
    <input type="checkbox" id="ECB3">
    <input type="checkbox" id="ECB4">
    <input type="checkbox" id="ECB5">
    <input type="checkbox" id="ECB6">
    <input type="checkbox" id="ECB7">
    <input type="checkbox" id="ECB8">
    <input type="checkbox" id="ECB9">
    <input type="checkbox" id="ECB10">
  </div>
  <div>
    <h2>Hajnal Garnet Bangle Bracelet</h2>
    <input type="checkbox" id="HGBB1">
    <input type="checkbox" id="HGBB2">
    <input type="checkbox" id="HGBB3">
    <input type="checkbox" id="HGBB4">
    <input type="checkbox" id="HGBB5">
    <input type="checkbox" id="HGBB6">
    <input type="checkbox" id="HGBB7">
    <input type="checkbox" id="HGBB8">
    <input type="checkbox" id="HGBB9">
    <input type="checkbox" id="HGBB10">
  </div>
  <div>
    <h2>Greco Sapphire Bracelet</h2>
    <input type="checkbox" id="GSBC1">
    <input type="checkbox" id="GSBC2">
    <input type="checkbox" id="GSBC3">
    <input type="checkbox" id="GSBC4">
    <input type="checkbox" id="GSBC5">
    <input type="checkbox" id="GSBC6">
    <input type="checkbox" id="GSBC7">
    <input type="checkbox" id="GSBC8">
    <input type="checkbox" id="GSBC9">
    <input type="checkbox" id="GSBC10">
  </div>
  
  
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>