<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Coins</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>1800 Gold Quarter</h2>
    <input type="checkbox" id="goldquarter1">
    <input type="checkbox" id="goldquarter2">
    <input type="checkbox" id="goldquarter13">
    <input type="checkbox" id="goldquarter14">
    <input type="checkbox" id="goldquarter15">
    <input type="checkbox" id="goldquarter16">
    <input type="checkbox" id="goldquarter17">
    <input type="checkbox" id="goldquarter18">
    <input type="checkbox" id="goldquarter19">
    <input type="checkbox" id="goldquarter10">
  </div>
  <div>
    <h2>1798 Draped Bust Silver Dolar</h2>
    <input type="checkbox" id="drapedbustsilverdolar1">
    <input type="checkbox" id="drapedbustsilverdolar2">
    <input type="checkbox" id="drapedbustsilverdolar3">
    <input type="checkbox" id="drapedbustsilverdolar4">
    <input type="checkbox" id="drapedbustsilverdolar5">
    <input type="checkbox" id="drapedbustsilverdolar6">
    <input type="checkbox" id="drapedbustsilverdolar7">
    <input type="checkbox" id="drapedbustsilverdolar8">
    <input type="checkbox" id="drapedbustsilverdolar9">
    <input type="checkbox" id="drapedbustsilverdolar10">
  </div>
  <div>
    <h2>1787 One Cent Token</h2>
    <input type="checkbox" id="onecenttoken1">
    <input type="checkbox" id="onecenttoken2">
    <input type="checkbox" id="onecenttoken3">
    <input type="checkbox" id="onecenttoken4">
    <input type="checkbox" id="onecenttoken5">
    <input type="checkbox" id="onecenttoken6">
    <input type="checkbox" id="onecenttoken7">
    <input type="checkbox" id="onecenttoken8">
    <input type="checkbox" id="onecenttoken9">
    <input type="checkbox" id="onecenttoken10">
  </div>
  <div>
    <h2>1794 Silver Dollar</h2>
    <input type="checkbox" id="seventyninetysilverdollar1">
    <input type="checkbox" id="seventyninetysilverdollar2">
    <input type="checkbox" id="seventyninelataesilverdolloar3">
    <input type="checkbox" id="seventyninetysilverdollar4">
    <input type="checkbox" id="seventyninetysilverdollar5">
    <input type="checkbox" id="seventyninetysilverdoloare6">
    <input type="checkbox" id="seventyninetysilverdoloare7">
    <input type="checkbox" id="seventyninetysilverdollar8">
    <input type="checkbox" id="sevenetydindeyedadakdwoefi9">
    <input type="checkbox" id="seventyninetysilverdollar10">
  </div>
  <div>
    <h2>1700 New Yorke Token</h2>
    <input type="checkbox" id="newyorkeeeetoeekend1">
    <input type="checkbox" id="newyorkeeeetoeekend2">
    <input type="checkbox" id="newyorkeeeetoeekend3">
    <input type="checkbox" id="newyorkeeeetoeekend4">
    <input type="checkbox" id="newyorkeesstoekne5">
    <input type="checkbox" id="newyorkeeeetoeekend6">
    <input type="checkbox" id="newyorkeeeetoeekend7">
    <input type="checkbox" id="newyorkeeeetoeekend8">
    <input type="checkbox" id="newyorkeeeetoeekend9">
    <input type="checkbox" id="newyorkeeeetoeekend10">
  </div>
  <div>
    <h2>1800 Five Dollar Bechtler</h2>
    <input type="checkbox" id="fivedollarsbeechtleeer1">
    <input type="checkbox" id="fivedollarsbeechtleeer2">
    <input type="checkbox" id="fivedollarsbeechtleeer13">
    <input type="checkbox" id="fivedollarsbeechtleeer14">
    <input type="checkbox" id="fivedollarsbeechtleeer15">
    <input type="checkbox" id="fivedollarsbeechtleeer16">
    <input type="checkbox" id="fivedollarsbeechtleeer17">
    <input type="checkbox" id="fivedollarsbeechtleeer18">
    <input type="checkbox" id="fivedollarsbeechtleeer9">
    <input type="checkbox" id="fivedollarsbeechtleeer10">
  </div>
  <div>
    <h2>1792 Quarter</h2>
    <input type="checkbox" id="seventyninnnnenesysfjaequarter1">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter2">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter3">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter4">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter5">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter6">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter7">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter8">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter9">
    <input type="checkbox" id="seventyninnnnenesysfjaequarter10">
  </div>
  <div>
    <h2>1800 Gold Quarter</h2>
    <input type="checkbox" id="eighteeeensssssgoldquarter1">
    <input type="checkbox" id="eighteeeensssssgoldquarter12">
    <input type="checkbox" id="eighteeeensssssgoldquarter13">
    <input type="checkbox" id="eighteeeensssssgoldquarter14">
    <input type="checkbox" id="eighteeeensssssgoldquarter15">
    <input type="checkbox" id="eighteeeensssssgoldquarter16">
    <input type="checkbox" id="eighteeeensssssgoldquarter17">
    <input type="checkbox" id="eighteeeensssssgoldquarter18">
    <input type="checkbox" id="eighteeeensssssgoldquarter19">
    <input type="checkbox" id="eighteeeensssssgoldquarter10">
  </div>
  <div>
    <h2>1792 Nickel</h2>
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww1">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww2">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww3">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww4">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww5">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww6">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww7">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww8">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww9">
    <input type="checkbox" id="seventyninnnnnnsssseegewgeww10">
  </div>
  <div>
    <h2>1796 Half Penny</h2>
    <input type="checkbox" id="seventeeeennninneadhalfpenny1">
    <input type="checkbox" id="seventeeeennninneadhalfpenny2">
    <input type="checkbox" id="seventeeeennninneadhalfpenny13">
    <input type="checkbox" id="seventeeeennninneadhalfpenny14">
    <input type="checkbox" id="seventeeeennninneadhalfpenny15">
    <input type="checkbox" id="seventeeeennninneadhalfpenny16">
    <input type="checkbox" id="seventeeeennninneadhalfpenny17">
    <input type="checkbox" id="seventeeeennninneadhalfpenny18">
    <input type="checkbox" id="seventeeeennninneadhalfpenny19">
    <input type="checkbox" id="seventeeeennninneadhalfpenny10">
  </div>
  <div>
    <h2>1795 Half Eagle</h2>
    <input type="checkbox" id="seveevevevehalfeeaaagggle1">
    <input type="checkbox" id="seveevevevehalfeeaaagggle2">
    <input type="checkbox" id="seveevevevehalfeeaaagggle3">
    <input type="checkbox" id="seveevevevehalfeeaaagggle4">
    <input type="checkbox" id="seveevevevehalfeeaaagggle5">
    <input type="checkbox" id="seveevevevehalfeeaaagggle6">
    <input type="checkbox" id="seveevevevehalfeeaaagggle7">
    <input type="checkbox" id="seveevevevehalfeeaaagggle8">
    <input type="checkbox" id="seveevevevehalfeeaaagggle9">
    <input type="checkbox" id="seveevevevehalfeeaaagggle10">
  </div>
  <div>
    <h2>1797 Gold Eagle</h2>
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless1">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless2">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless3">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless4">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless5">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless6">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless7">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless8">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless9">
    <input type="checkbox" id="sevenettttteeeeeeeeegoldddddeagless10">
  </div>
  <div>
    <h2>1792 Liberty Quarter</h2>
    <input type="checkbox" id="livvvertttyquartttter1">
    <input type="checkbox" id="livvvertttyquartttter2">
    <input type="checkbox" id="livvvertttyquartttter3">
    <input type="checkbox" id="livvvertttyquartttter4">
    <input type="checkbox" id="livvvertttyquartttter5">
    <input type="checkbox" id="livvvertttyquartttter6">
    <input type="checkbox" id="livvvertttyquartttter7">
    <input type="checkbox" id="livvvertttyquartttter8">
    <input type="checkbox" id="livvvertttyquartttter9">
    <input type="checkbox" id="livvvertttyquartttter10">
  </div>
  <div>
    <h2>1800 Half Dime</h2>
    <input type="checkbox" id="eddinnehalffdimeee1">
    <input type="checkbox" id="eddinnehalffdimeee2">
    <input type="checkbox" id="eddinnehalffdimeee3">
    <input type="checkbox" id="eddinnehalffdimeee4">
    <input type="checkbox" id="eddinnehalffdimeee5">
    <input type="checkbox" id="eddinnehalffdimeee6">
    <input type="checkbox" id="eddinnehalffdimeee7">
    <input type="checkbox" id="eddinnehalffdimeee8">
    <input type="checkbox" id="eddinnehalffdimeee9">
    <input type="checkbox" id="eddinnehalffdimeee10">
  </div>
  <div>
    <h2>1789 Penny</h2>
    <input type="checkbox" id="svntynninsntypenny1">
    <input type="checkbox" id="svntynninsntypenny2">
    <input type="checkbox" id="svntynninsntypenny13">
    <input type="checkbox" id="svntynninsntypenny14">
    <input type="checkbox" id="svntynninsntypenny15">
    <input type="checkbox" id="svntynninsntypenny16">
    <input type="checkbox" id="svntynninsntypenny17">
    <input type="checkbox" id="svntynninsntypenny18">
    <input type="checkbox" id="svntynninsntypenny9">
    <input type="checkbox" id="svntynninsntypenny10">
  </div>
  <div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>