<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav>
</head>

<body>
  <h1 align="center">Desert Animals</h1>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container" align="center">
    <div>
      <h2>Desert Iguana</h2><br>
      <label for="killedDI">Killed</label>
      <input type="checkbox" id="killedDI">
      <label for="SKINNEDDI">Skinned</label>
      <input type="checkbox" id="SKINNEDDI">
      <label for="STUDIEDDI">Studied</label>
      <input type="checkbox" id="STUDIEDDI">
      <label for="SEDATEDDI">Sedated</label>
      <input type="checkbox" id="SEDATEDDI">
      <label for="SAMPLEDDI">Sampled</label>
      <input type="checkbox" id="SAMPLEDDI">
      <label for="PHOTOGRAPHEDDI">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDDI">
      <label for="SoldDI">Sample Sold</label>
      <input type="checkbox" id="SoldDI">
      <H1>__________________________________________</h1>
      <h2>Banded Gila Monster</h2><br>
      <label for="killedBGM">Killed</label>
      <input type="checkbox" id="killedBGM">
      <label for="SKINNEBGM">Skinned</label>
      <input type="checkbox" id="SKINNEBGM">
      <label for="STUDIEDBGM">Studied</label>
      <input type="checkbox" id="STUDIEDBGM">
      <label for="SEDATEDBGM">Sedated</label>
      <input type="checkbox" id="SEDATEDBGM">
      <label for="SAMPLEDBGM">Sampled</label>
      <input type="checkbox" id="SAMPLEDBGM">
      <label for="PHOTOGRAPHEDBGM">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDBGM">
      <label for="SoldBGM">Sample Sold</label>
      <input type="checkbox" id="SoldBGM">
      <H1>__________________________________________</h1>
      <h2>Nine-Banded Armidillo</h2><br>
      <label for="killedNBA">Killed</label>
      <input type="checkbox" id="killedNBA">
      <label for="SKINNEDNBA">Skinned</label>
      <input type="checkbox" id="SKINNEDNBA">
      <label for="STUDIEDNBA">Studied</label>
      <input type="checkbox" id="STUDIEDNBA">
      <label for="SEDATEDNBA">Sedated</label>
      <input type="checkbox" id="SEDATEDNBA">
      <label for="SAMPLEDNBA">Sampled</label>
      <input type="checkbox" id="SAMPLEDNBA">
      <label for="PHOTOGRAPHEDNBA">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDNBA">
      <label for="SoldNBA">Sample Sold</label>
      <input type="checkbox" id="SoldNBA">
      <H1>__________________________________________</h1>
      <h2>Baja California Pronghorn Buck</h2><br>
     <label for="killedBCPB">Killed</label>
     <input type="checkbox" id="killedBCPB">
     <label for="SKINNEDBCPB">Skinned</label>
     <input type="checkbox" id="SKINNEDBCPB">
     <label for="STUDIEDBCPB">Studied</label>
     <input type="checkbox" id="STUDIEDBCPB">
     <label for="SEDATEDBCPB">Sedated</label>
     <input type="checkbox" id="SEDATEDBCPB">
     <label for="SAMPLEDBCPB">Sampled</label>
     <input type="checkbox" id="SAMPLEDBCPB">
     <label for="PHOTOGRAPHEDBCBP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDBCBP">
     <label for="SoldBCBP">Sample Sold</label>
     <input type="checkbox" id="SoldBCBP">
     <H1>__________________________________________</h1>
     <h2>Baja California Pronghorn Doe</h2><br>
     <label for="killedBCPD">Killed</label>
     <input type="checkbox" id="killedBCPD">
     <label for="SKINNEDBCBD">Skinned</label>
     <input type="checkbox" id="SKINNEDBCBD">
     <label for="STUDIEDBDCBD">Studied</label>
     <input type="checkbox" id="STUDIEDBCBD">
     <label for="SEDATEDBCBD">Sedated</label>
     <input type="checkbox" id="SEDATEDBCBD">
     <label for="SAMPLEDBCBD">Sampled</label>
     <input type="checkbox" id="SAMPLEDBCBD">
     <label for="PHOTOGRAPHEDBCBD">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDBCBD">
     <label for="SoldBCBD">Sample Sold</label>
     <input type="checkbox" id="SoldBCBD">
     <H1>__________________________________________</h1>
     <h2>Collared Piccary</h2><br>
     <label for="killedCP">Killed</label>
     <input type="checkbox" id="killedCP">
     <label for="SKINNEDCP">Skinned</label>
     <input type="checkbox" id="SKINNEDCP">
     <label for="STUDIEDCP">Studied</label>
     <input type="checkbox" id="STUDIEDCP">
     <label for="SEDATEDCP">Sedated</label>
     <input type="checkbox" id="SEDATEDCP">
     <label for="SAMPLEDCP">Sampled</label>
     <input type="checkbox" id="SAMPLEDCP">
     <label for="PHOTOGRAPHEDCP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDCP">
     <label for="SoldCP">Sample Sold</label>
     <input type="checkbox" id="SoldCP">
     <H1>__________________________________________</h1>
     <h2>Sonoran Pronghorn Buck</h2><br>
     <label for="killedSPB">Killed</label>
     <input type="checkbox" id="killedSPB">
     <label for="SKINNEDSPB">Skinned</label>
     <input type="checkbox" id="SKINNEDSPB">
     <label for="STUDIEDSPB">Studied</label>
     <input type="checkbox" id="STUDIEDSPB">
     <label for="SEDATEDSPB">Sedated</label>
     <input type="checkbox" id="SEDATEDSPB">
     <label for="SAMPLEDSPB">Sampled</label>
     <input type="checkbox" id="SAMPLEDSPB">
     <label for="PHOTOGRAPHEDSPB">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSPB">
     <label for="SoldSPB">Sample Sold</label>
     <input type="checkbox" id="SoldSPB">
     <H1>__________________________________________</h1>

     <h2>Sonoran Pronghorn Doe</h2><br>
     <label for="killedSPD">Killed</label>
     <input type="checkbox" id="killedSPD">
     <label for="SKINNEDSPD">Skinned</label>
     <input type="checkbox" id="SKINNEDSPD">
     <label for="STUDIEDSPD">Studied</label>
     <input type="checkbox" id="STUDIEDSPD">
     <label for="SEDATEDSPD">Sedated</label>
     <input type="checkbox" id="SEDATEDSPD">
     <label for="SAMPLEDSPD">Sampled</label>
     <input type="checkbox" id="SAMPLEDSPD">
     <label for="PHOTOGRAPHEDSPD">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSPD">
     <label for="SoldSPD">Sample Sold</label>
     <input type="checkbox" id="SoldSPD">
     <H1>__________________________________________</h1>
     <h2>Desert Bighorn Ram</h2><br>
     <label for="killedDBR">Killed</label>
     <input type="checkbox" id="killedDBR">
     <label for="SKINNEDDBR">Skinned</label>
     <input type="checkbox" id="SKINNEDDBR">
     <label for="STUDIEDDBR">Studied</label>
     <input type="checkbox" id="STUDIEDDBR">
     <label for="SEDATEDDBR">Sedated</label>
     <input type="checkbox" id="SEDATEDDBR">
     <label for="SAMPLEDDBR">Sampled</label>
     <input type="checkbox" id="SAMPLEDDBR">
     <label for="PHOTOGRAPHEDDBR">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDDBR">
     <label for="SoldDBR">Sample Sold</label>
     <input type="checkbox" id="SoldDBR">
     <H1>__________________________________________</h1>
     <h2>Desert Bighorn Sheep</h2><br>
     <label for="killedDBS">Killed</label>
     <input type="checkbox" id="killedDBS">
     <label for="SKINNEDDBS">Skinned</label>
     <input type="checkbox" id="SKINNEDDBS">
     <label for="STUDIEDDBS">Studied</label>
     <input type="checkbox" id="STUDIEDDBS">
     <label for="SEDATEDDBS">Sedated</label>
     <input type="checkbox" id="SEDATEDDBS">
     <label for="SAMPLEDDBS">Sampled</label>
     <input type="checkbox" id="SAMPLEDDBS">
     <label for="PHOTOGRAPHEDDBS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDDBS">
     <label for="SoldDBS">Sample Sold</label>
     <input type="checkbox" id="SoldDBS">
     <H1>__________________________________________</h1>
     <h2>Sierra Nevada Bighorn Ram</h2><br>
     <label for="killedSNBR">Killed</label>
     <input type="checkbox" id="killedSNBR">
     <label for="SKINNEDSNBR">Skinned</label>
     <input type="checkbox" id="SKINNEDSNBR">
     <label for="STUDIEDSNBR">Studied</label>
     <input type="checkbox" id="STUDIEDSNBR">
     <label for="SEDATEDSNBR">Sedated</label>
     <input type="checkbox" id="SEDATEDSNBR">
     <label for="SAMPLEDSNBR">Sampled</label>
     <input type="checkbox" id="SAMPLEDSNBR">
     <label for="PHOTOGRAPHEDSNBR">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSNBR">
     <label for="SoldSNBR">Sample Sold</label>
     <input type="checkbox" id="SoldSNBR">
     <H1>__________________________________________</h1>
     <h2>Sierra Nevada Bighorn Sheep</h2><br>
     <label for="killedSNBS">Killed</label>
     <input type="checkbox" id="killedSNBS">
     <label for="SKINNEDSNBS">Skinned</label>
     <input type="checkbox" id="SKINNEDSNBS">
     <label for="STUDIEDSNBS">Studied</label>
     <input type="checkbox" id="STUDIEDSNBS">
     <label for="SEDATEDSNBS">Sedated</label>
     <input type="checkbox" id="SEDATEDSNBS">
     <label for="SAMPLEDSNBS">Sampled</label>
     <input type="checkbox" id="SAMPLEDSNBS">
     <label for="PHOTOGRAPHEDSNBS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSNBS">
     <label for="SoldSNBS">Sample Sold</label>
     <input type="checkbox" id="SoldSNBS">
     <H1>__________________________________________</h1>
     <h2>Cougar</h2><br>
     <label for="killedBTRC">Killed</label>
     <input type="checkbox" id="killedBTRC">
     <label for="SKINNEDBTRC">Skinned</label>
     <input type="checkbox" id="SKINNEDBTRC">
     <label for="STUDIEDBTRC">Studied</label>
     <input type="checkbox" id="STUDIEDBTRC">
     <label for="SEDATEDBTRC">Sedated</label>
     <input type="checkbox" id="SEDATEDBTRC">
     <label for="SAMPLEDBTRC">Sampled</label>
     <input type="checkbox" id="SAMPLEDBTRC">
     <label for="PHOTOGRAPHEDBTRC">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDBTRC">
     <label for="SoldBTRC">Sample Sold</label>
     <input type="checkbox" id="SoldBTRC">
     <H1>__________________________________________</h1>


    </div>
    <br>
    <button>Check All</button>
  </div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>

</html>