<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Earings</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Ursula Citrine Earings</h2>
    <input type="checkbox" id="uuulllaaaact1">
    <input type="checkbox" id="uuulllaaaact2">
    <input type="checkbox" id="uuulllaaaact13">
    <input type="checkbox" id="uuulllaaaact14">
    <input type="checkbox" id="uuulllaaaact15">
    <input type="checkbox" id="uuulllaaaact16">
    <input type="checkbox" id="uuulllaaaact17">
    <input type="checkbox" id="uuulllaaaact18">
    <input type="checkbox" id="uuulllaaaact19">
    <input type="checkbox" id="uuulllaaaact10">
  </div>
  <div>
    <h2>Royal Victoria Diamond Earings</h2>
    <input type="checkbox" id="rvvvvrrrdddmndseaces1">
    <input type="checkbox" id="rvvvvrrrdddmndseaces2">
    <input type="checkbox" id="rvvvvrrrdddmndseaces3">
    <input type="checkbox" id="rvvvvrrrdddmndseaces4">
    <input type="checkbox" id="rvvvvrrrdddmndseaces5">
    <input type="checkbox" id="rvvvvrrrdddmndseaces6">
    <input type="checkbox" id="rvvvvrrrdddmndseaces7">
    <input type="checkbox" id="rvvvvrrrdddmndseaces8">
    <input type="checkbox" id="rvvvvrrrdddmndseaces9">
    <input type="checkbox" id="rvvvvrrrdddmndseaces10">
  </div>
  <div>
    <h2>Calumet Turquoise Earings</h2>
    <input type="checkbox" id="clmettrquace1">
    <input type="checkbox" id="clmettrquace2">
    <input type="checkbox" id="clmettrquace3">
    <input type="checkbox" id="clmettrquace4">
    <input type="checkbox" id="clmettrquace5">
    <input type="checkbox" id="clmettrquace6">
    <input type="checkbox" id="clmettrquace7">
    <input type="checkbox" id="clmettrquace8">
    <input type="checkbox" id="clmettrquace9">
    <input type="checkbox" id="clmettrquace10">
  </div>
  <div>
    <h2>Orchidee Diamond Earings</h2>
    <input type="checkbox" id="oocccdddmseasifeljd1">
    <input type="checkbox" id="oocccdddmseasifeljd2">
    <input type="checkbox" id="oocccdddmseasifeljd3">
    <input type="checkbox" id="oocccdddmseasifeljd4">
    <input type="checkbox" id="oocccdddmseasifeljd5">
    <input type="checkbox" id="oocccdddmseasifeljd6">
    <input type="checkbox" id="oocccdddmseasifeljd7">
    <input type="checkbox" id="oocccdddmseasifeljd8">
    <input type="checkbox" id="oocccdddmseasifeljd9">
    <input type="checkbox" id="oocccdddmseasifeljd10">
  </div>
  <div>
    <h2>Sterling Tooth Earings</h2>
    <input type="checkbox" id="slngggggsthh1">
    <input type="checkbox" id="slngggggsthh2">
    <input type="checkbox" id="slngggggsthh13">
    <input type="checkbox" id="slngggggsthh14">
    <input type="checkbox" id="slngggggsthh15">
    <input type="checkbox" id="slngggggsthh16">
    <input type="checkbox" id="slngggggsthh17">
    <input type="checkbox" id="slngggggsthh18">
    <input type="checkbox" id="slngggggsthh9">
    <input type="checkbox" id="slngggggsthh10">
  </div>
  <div>
    <h2>Harford Garnet Earings</h2>
    <input type="checkbox" id="hffffddddssggeaefess1">
    <input type="checkbox" id="hffffddddssggeaefess2">
    <input type="checkbox" id="hffffddddssggeaefess3">
    <input type="checkbox" id="hffffddddssggeaefess4">
    <input type="checkbox" id="hffffddddssggeaefess5">
    <input type="checkbox" id="hffffddddssggeaefess6">
    <input type="checkbox" id="hffffddddssggeaefess7">
    <input type="checkbox" id="hffffddddssggeaefess8">
    <input type="checkbox" id="hffffddddssggeaefess9">
    <input type="checkbox" id="hffffddddssggeaefess10">
  </div>
  <div>
    <h2>Duchess Emerald Earings</h2>
    <input type="checkbox" id="dccccessghemzcec1">
    <input type="checkbox" id="dccccessghemzcec12">
    <input type="checkbox" id="dccccessghemzcec13">
    <input type="checkbox" id="dccccessghemzcec14">
    <input type="checkbox" id="dccccessghemzcec15">
    <input type="checkbox" id="dccccessghemzcec16">
    <input type="checkbox" id="dccccessghemzcec17">
    <input type="checkbox" id="dccccessghemzcec18">
    <input type="checkbox" id="dccccessghemzcec19">
    <input type="checkbox" id="dccccessghemzcec10">
  </div>
  <div>
    <h2>Beauchene Ruby Earings</h2>
    <input type="checkbox" id="bhcneueelzcewsa1">
    <input type="checkbox" id="bhcneueelzcewsa2">
    <input type="checkbox" id="bhcneueelzcewsa3">
    <input type="checkbox" id="bhcneueelzcewsa4">
    <input type="checkbox" id="bhcneueelzcewsa5">
    <input type="checkbox" id="bhcneueelzcewsa6">
    <input type="checkbox" id="bhcneueelzcewsa7">
    <input type="checkbox" id="bhcneueelzcewsa8">
    <input type="checkbox" id="bhcneueelzcewsa9">
    <input type="checkbox" id="bhcneueelzcewsa10">
  </div>
  <div>
    <h2>Endicott Diamond Earings</h2>
    <input type="checkbox" id="cdeiisxonea1">
    <input type="checkbox" id="cdeiisxonea2">
    <input type="checkbox" id="cdeiisxonea13">
    <input type="checkbox" id="cdeiisxonea14">
    <input type="checkbox" id="cdeiisxonea15">
    <input type="checkbox" id="cdeiisxonea16">
    <input type="checkbox" id="cdeiisxonea17">
    <input type="checkbox" id="cdeiisxonea18">
    <input type="checkbox" id="cdeiisxonea19">
    <input type="checkbox" id="cdeiisxonea10">
  </div>
  <div>
    <h2>Josephine Pearl Earings</h2>
    <input type="checkbox" id="pjephinessrpp1">
    <input type="checkbox" id="pjephinessrpp2">
    <input type="checkbox" id="pjephinessrpp3">
    <input type="checkbox" id="pjephinessrpp4">
    <input type="checkbox" id="pjephinessrpp5">
    <input type="checkbox" id="pjephinessrpp6">
    <input type="checkbox" id="pjephinessrpp7">
    <input type="checkbox" id="pjephinessrpp8">
    <input type="checkbox" id="pjephinessrpp9">
    <input type="checkbox" id="pjephinessrpp10">
  </div>
  <div>
    <h2>Emmeline Coral Earings</h2>
    <input type="checkbox" id="aussseiceicnocor1">
    <input type="checkbox" id="aussseiceicnocor2">
    <input type="checkbox" id="aussseiceicnocor3">
    <input type="checkbox" id="aussseiceicnocor4">
    <input type="checkbox" id="aussseiceicnocor5">
    <input type="checkbox" id="aussseiceicnocor6">
    <input type="checkbox" id="aussseiceicnocor7">
    <input type="checkbox" id="aussseiceicnocor8">
    <input type="checkbox" id="aussseiceicnocor9">
    <input type="checkbox" id="aussseiceicnocor10">
  </div>
  
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>