<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav>
</head>

<body>
  <h1 align="center">Farmland Animals</h1>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container" align="center">
    <div>
      <h2>Florida Cracker Cow</h2><br>
      <label for="killedFCC">Killed</label>
      <input type="checkbox" id="killedFCC">
      <label for="SKINNEDFCC">Skinned</label>
      <input type="checkbox" id="SKINNEDFCC">
      <label for="STUDIEDFCC">Studied</label>
      <input type="checkbox" id="STUDIEDFCC">
      <label for="SEDATEDFCC">Sedated</label>
      <input type="checkbox" id="SEDATEDFCC">
      <label for="SAMPLEDFCC">Sampled</label>
      <input type="checkbox" id="SAMPLEDFCC">
      <label for="PHOTOGRAPHEDFCC">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDFCC">
      <label for="SoldFCC">Sample Sold</label>
      <input type="checkbox" id="SoldFCC">
      <H1>__________________________________________</h1>
      <h2>Angus Bull</h2><br>
      <label for="killedAB">Killed</label>
      <input type="checkbox" id="killedAB">
      <label for="SKINNEDAB">Skinned</label>
      <input type="checkbox" id="SKINNEDAB">
      <label for="STUDIEDAB">Studied</label>
      <input type="checkbox" id="STUDIEDAB">
      <label for="SEDATEDAB">Sedated</label>
      <input type="checkbox" id="SEDATEDAB">
      <label for="SAMPLEDAB">Sampled</label>
      <input type="checkbox" id="SAMPLEDAB">
      <label for="PHOTOGRAPHEDAB">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDAB">
      <label for="SoldAB">Sample Sold</label>
      <input type="checkbox" id="SoldAB">
      <H1>__________________________________________</h1>
      <h2>Devon Bull</h2><br>
      <label for="killedDB">Killed</label>
      <input type="checkbox" id="killedDB">
      <label for="SKINNEDDB">Skinned</label>
      <input type="checkbox" id="SKINNEDDB">
      <label for="STUDIEDDB">Studied</label>
      <input type="checkbox" id="STUDIEDDB">
      <label for="SEDATEDDB">Sedated</label>
      <input type="checkbox" id="SEDATEDDB">
      <label for="SAMPLEDDB">Sampled</label>
      <input type="checkbox" id="SAMPLEDDB">
      <label for="PHOTOGRAPHEDDB">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDDB">
      <label for="SoldDB">Sample Sold</label>
      <input type="checkbox" id="SoldDB">
      <H1>__________________________________________</h1>
      <h2>Herford Bull</h2><br>
     <label for="killedHB">Killed</label>
     <input type="checkbox" id="killedHB">
     <label for="SKINNEDHB">Skinned</label>
     <input type="checkbox" id="SKINNEDHB">
     <label for="STUDIEDHB">Studied</label>
     <input type="checkbox" id="STUDIEDHB">
     <label for="SEDATEDHB">Sedated</label>
     <input type="checkbox" id="SEDATEDHB">
     <label for="SAMPLEDHB">Sampled</label>
     <input type="checkbox" id="SAMPLEDHB">
     <label for="PHOTOGRAPHEDHB">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDHB">
     <label for="SoldHB">Sample Sold</label>
     <input type="checkbox" id="SoldHB">
     <H1>__________________________________________</h1>
     <h2>Angus Ox</h2><br>
     <label for="killedAO">Killed</label>
     <input type="checkbox" id="killedAO">
     <label for="SKINNEDAO">Skinned</label>
     <input type="checkbox" id="SKINNEDAO">
     <label for="STUDIEDAO">Studied</label>
     <input type="checkbox" id="STUDIEDAO">
     <label for="SEDATEDAO">Sedated</label>
     <input type="checkbox" id="SEDATEDAO">
     <label for="SAMPLEDAO">Sampled</label>
     <input type="checkbox" id="SAMPLEDAO">
     <label for="PHOTOGRAPHEDAO">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDAO">
     <label for="SoldAO">Sample Sold</label>
     <input type="checkbox" id="SoldAO">
     <H1>__________________________________________</h1>
     <h2>Devon Ox</h2><br>
     <label for="killedDO">Killed</label>
     <input type="checkbox" id="killedDO">
     <label for="SKINNEDDO">Skinned</label>
     <input type="checkbox" id="SKINNEDDO">
     <label for="STUDIEDDO">Studied</label>
     <input type="checkbox" id="STUDIEDDO">
     <label for="SEDATEDDO">Sedated</label>
     <input type="checkbox" id="SEDATEDDO">
     <label for="SAMPLEDDO">Sampled</label>
     <input type="checkbox" id="SAMPLEDDO">
     <label for="PHOTOGRAPHEDDO">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDDO">
     <label for="SoldDO">Sample Sold</label>
     <input type="checkbox" id="SoldDO">
     <H1>__________________________________________</h1>
     <h2>Old Spot Pig</h2><br>
     <label for="killedOSP">Killed</label>
     <input type="checkbox" id="killedOSP">
     <label for="SKINNEDOSP">Skinned</label>
     <input type="checkbox" id="SKINNEDOSP">
     <label for="STUDIEDOSP">Studied</label>
     <input type="checkbox" id="STUDIEDOSP">
     <label for="SEDATEDOSP">Sedated</label>
     <input type="checkbox" id="SEDATEDOSP">
     <label for="SAMPLEDOSP">Sampled</label>
     <input type="checkbox" id="SAMPLEDOSP">
     <label for="PHOTOGRAPHEDOSP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDOSP">
     <label for="SoldOSP">Sample Sold</label>
     <input type="checkbox" id="SoldOSP">
     <H1>__________________________________________</h1>

     <h2>Berkshire Pig</h2><br>
     <label for="killedBP">Killed</label>
     <input type="checkbox" id="killedBP">
     <label for="SKINNEDBP">Skinned</label>
     <input type="checkbox" id="SKINNEDBP">
     <label for="STUDIEDBP">Studied</label>
     <input type="checkbox" id="STUDIEDBP">
     <label for="SEDATEDBP">Sedated</label>
     <input type="checkbox" id="SEDATEDBP">
     <label for="SAMPLEDBP">Sampled</label>
     <input type="checkbox" id="SAMPLEDBP">
     <label for="PHOTOGRAPHEDBP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDBP">
     <label for="SoldBP">Sample Sold</label>
     <input type="checkbox" id="SoldBP">
     <H1>__________________________________________</h1>
     <h2>Big China Pig</h2><br>
     <label for="killedBCP">Killed</label>
     <input type="checkbox" id="killedBCP">
     <label for="SKINNEDBCP">Skinned</label>
     <input type="checkbox" id="SKINNEDBCP">
     <label for="STUDIEDBCP">Studied</label>
     <input type="checkbox" id="STUDIEDBCP">
     <label for="SEDATEDBCP">Sedated</label>
     <input type="checkbox" id="SEDATEDBCP">
     <label for="SAMPLEDBCP">Sampled</label>
     <input type="checkbox" id="SAMPLEDBCP">
     <label for="PHOTOGRAPHEDBCP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDBCP">
     <label for="SoldBCP">Sample Sold</label>
     <input type="checkbox" id="SoldBCP">
     <H1>__________________________________________</h1>
     <h2>Merino Sheep</h2><br>
     <label for="killedMS">Killed</label>
     <input type="checkbox" id="killedMS">
     <label for="SKINNEDMS">Skinned</label>
     <input type="checkbox" id="SKINNEDMS">
     <label for="STUDIEDMS">Studied</label>
     <input type="checkbox" id="STUDIEDMS">
     <label for="SEDATEDMS">Sedated</label>
     <input type="checkbox" id="SEDATEDMS">
     <label for="SAMPLEDMS">Sampled</label>
     <input type="checkbox" id="SAMPLEDMS">
     <label for="PHOTOGRAPHEDMS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDMS">
     <label for="SoldMS">Sample Sold</label>
     <input type="checkbox" id="SoldMS">
     <H1>__________________________________________</h1>
     <h2>Alpine Goat</h2><br>
     <label for="killedAG">Killed</label>
     <input type="checkbox" id="killedAG">
     <label for="SKINNEDAG">Skinned</label>
     <input type="checkbox" id="SKINNEDAG">
     <label for="STUDIEDAG">Studied</label>
     <input type="checkbox" id="STUDIEDAG">
     <label for="SEDATEDAG">Sedated</label>
     <input type="checkbox" id="SEDATEDAG">
     <label for="SAMPLEDAG">Sampled</label>
     <input type="checkbox" id="SAMPLEDAG">
     <label for="PHOTOGRAPHEDAG">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDAG">
     <label for="SoldAG">Sample Sold</label>
     <input type="checkbox" id="SoldAG">
     <H1>__________________________________________</h1>

    </div>
    <br>
    <button>Check All</button>
  </div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>

</html>