<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav>
</head>

<body>
  <h1 align="center">Forest and River Animals</h1>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container" align="center">
    <div>
      <h2>American Black Bear</h2><br>
      <label for="killedABB">Killed</label>
      <input type="checkbox" id="killedABB">
      <label for="SKINNEDABB">Skinned</label>
      <input type="checkbox" id="SKINNEDABB">
      <label for="STUDIEDABB">Studied</label>
      <input type="checkbox" id="STUDIEDABB">
      <label for="SEDATEDABB">Sedated</label>
      <input type="checkbox" id="SEDATEDABB">
      <label for="SAMPLEDABB">Sampled</label>
      <input type="checkbox" id="SAMPLEDABB">
      <label for="PHOTOGRAPHEDABB">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDABB">
      <label for="SoldABB">Sample Sold</label>
      <input type="checkbox" id="SoldABB">
      <H1>__________________________________________</h1>
      <h2>North American Beaver</h2><br>
      <label for="killedNAB">Killed</label>
      <input type="checkbox" id="killedNAB">
      <label for="SKINNENAB">Skinned</label>
      <input type="checkbox" id="SKINNENAB">
      <label for="STUDIEDNAB">Studied</label>
      <input type="checkbox" id="STUDIEDNAB">
      <label for="SEDATEDNAB">Sedated</label>
      <input type="checkbox" id="SEDATEDNAB">
      <label for="SAMPLEDNAB">Sampled</label>
      <input type="checkbox" id="SAMPLEDNAB">
      <label for="PHOTOGRAPHEDNAB">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDNAB">
      <label for="SoldNAB">Sample Sold</label>
      <input type="checkbox" id="SoldNAB">
      <H1>__________________________________________</h1>
      <h2>North American Raccoon</h2><br>
      <label for="killedNAR">Killed</label>
      <input type="checkbox" id="killedNAR">
      <label for="SKINNEDNAR">Skinned</label>
      <input type="checkbox" id="SKINNEDNAR">
      <label for="STUDIEDNAR">Studied</label>
      <input type="checkbox" id="STUDIEDNAR">
      <label for="SEDATEDNAR">Sedated</label>
      <input type="checkbox" id="SEDATEDNAR">
      <label for="SAMPLEDNAR">Sampled</label>
      <input type="checkbox" id="SAMPLEDNAR">
      <label for="PHOTOGRAPHEDNAR">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDNAR">
      <label for="SoldNAR">Sample Sold</label>
      <input type="checkbox" id="SoldNAR">
      <H1>__________________________________________</h1>
      <h2>American Red Fox</h2><br>
     <label for="killedARF">Killed</label>
     <input type="checkbox" id="killedARF">
     <label for="SKINNEDARF">Skinned</label>
     <input type="checkbox" id="SKINNEDARF">
     <label for="STUDIEDARF">Studied</label>
     <input type="checkbox" id="STUDIEDARF">
     <label for="SEDATEDARF">Sedated</label>
     <input type="checkbox" id="SEDATEDARF">
     <label for="SAMPLEDARF">Sampled</label>
     <input type="checkbox" id="SAMPLEDARF">
     <label for="PHOTOGRAPHEDARF">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDARF">
     <label for="SoldARF">Sample Sold</label>
     <input type="checkbox" id="SoldARF">
     <H1>__________________________________________</h1>
     <h2>American Gray Fox</h2><br>
     <label for="killedAGF">Killed</label>
     <input type="checkbox" id="killedAGF">
     <label for="SKINNEDAGF">Skinned</label>
     <input type="checkbox" id="SKINNEDAGF">
     <label for="STUDIEDAGF">Studied</label>
     <input type="checkbox" id="STUDIEDAGF">
     <label for="SEDATEDAGF">Sedated</label>
     <input type="checkbox" id="SEDATEDAGF">
     <label for="SAMPLEDAGF">Sampled</label>
     <input type="checkbox" id="SAMPLEDAGF">
     <label for="PHOTOGRAPHEDAGF">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDAGF">
     <label for="SoldAGF">Sample Sold</label>
     <input type="checkbox" id="SoldAGF">
     <H1>__________________________________________</h1>
     <h2>Silver Fox</h2><br>
     <label for="killedSF">Killed</label>
     <input type="checkbox" id="killedSF">
     <label for="SKINNEDSF">Skinned</label>
     <input type="checkbox" id="SKINNEDSF">
     <label for="STUDIEDSF">Studied</label>
     <input type="checkbox" id="STUDIEDSF">
     <label for="SEDATEDSF">Sedated</label>
     <input type="checkbox" id="SEDATEDSF">
     <label for="SAMPLEDSF">Sampled</label>
     <input type="checkbox" id="SAMPLEDSF">
     <label for="PHOTOGRAPHEDSF">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSF">
     <label for="SoldSF">Sample Sold</label>
     <input type="checkbox" id="SoldSF">
     <H1>__________________________________________</h1>
     <h2>Striped Skunk</h2><br>
     <label for="killedSS">Killed</label>
     <input type="checkbox" id="killedSS">
     <label for="SKINNEDSS">Skinned</label>
     <input type="checkbox" id="SKINNEDSS">
     <label for="STUDIEDSS">Studied</label>
     <input type="checkbox" id="STUDIEDSS">
     <label for="SEDATEDSS">Sedated</label>
     <input type="checkbox" id="SEDATEDSS">
     <label for="SAMPLEDSS">Sampled</label>
     <input type="checkbox" id="SAMPLEDSS">
     <label for="PHOTOGRAPHEDSS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSS">
     <label for="SoldSS">Sample Sold</label>
     <input type="checkbox" id="SoldSS">
     <H1>__________________________________________</h1>

     <h2>Virginia Opossum</h2><br>
     <label for="killedVO">Killed</label>
     <input type="checkbox" id="killedVO">
     <label for="SKINNEDVO">Skinned</label>
     <input type="checkbox" id="SKINNEDVO">
     <label for="STUDIEDVO">Studied</label>
     <input type="checkbox" id="STUDIEDVO">
     <label for="SEDATEDVO">Sedated</label>
     <input type="checkbox" id="SEDATEDVO">
     <label for="SAMPLEDVO">Sampled</label>
     <input type="checkbox" id="SAMPLEDVO">
     <label for="PHOTOGRAPHEDVO">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDVO">
     <label for="SoldVO">Sample Sold</label>
     <input type="checkbox" id="SoldVO">
     <H1>__________________________________________</h1>
     <h2>American Muskrat</h2><br>
     <label for="killedAM">Killed</label>
     <input type="checkbox" id="killedAM">
     <label for="SKINNEDAM">Skinned</label>
     <input type="checkbox" id="SKINNEDAM">
     <label for="STUDIEDAM">Studied</label>
     <input type="checkbox" id="STUDIEDAM">
     <label for="SEDATEDAM">Sedated</label>
     <input type="checkbox" id="SEDATEDAM">
     <label for="SAMPLEDAM">Sampled</label>
     <input type="checkbox" id="SAMPLEDAM">
     <label for="PHOTOGRAPHEDAM">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDAM">
     <label for="SoldAM">Sample Sold</label>
     <input type="checkbox" id="SoldAM">
     <H1>__________________________________________</h1>
     <h2>Western Bull Moose</h2><br>
     <label for="killedWBM">Killed</label>
     <input type="checkbox" id="killedWBM">
     <label for="SKINNEDWBM">Skinned</label>
     <input type="checkbox" id="SKINNEDWBM">
     <label for="STUDIEDWBM">Studied</label>
     <input type="checkbox" id="STUDIEDWBM">
     <label for="SEDATEDWBM">Sedated</label>
     <input type="checkbox" id="SEDATEDWBM">
     <label for="SAMPLEDWBM">Sampled</label>
     <input type="checkbox" id="SAMPLEDWBM">
     <label for="PHOTOGRAPHEDWBM">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDWBM">
     <label for="SoldWBM">Sample Sold</label>
     <input type="checkbox" id="SoldWBM">
     <H1>__________________________________________</h1>
     <h2>Western Moose</h2><br>
     <label for="killedWM">Killed</label>
     <input type="checkbox" id="killedWM">
     <label for="SKINNEDWM">Skinned</label>
     <input type="checkbox" id="SKINNEDWM">
     <label for="STUDIEDWM">Studied</label>
     <input type="checkbox" id="STUDIEDWM">
     <label for="SEDATEDWM">Sedated</label>
     <input type="checkbox" id="SEDATEDWM">
     <label for="SAMPLEDWM">Sampled</label>
     <input type="checkbox" id="SAMPLEDWM">
     <label for="PHOTOGRAPHEDWM">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDWM">
     <label for="SoldWM">Sample Sold</label>
     <input type="checkbox" id="SoldWM">
     <H1>__________________________________________</h1>
     <h2>Grizzly Bear</h2><br>
     <label for="killedGB">Killed</label>
     <input type="checkbox" id="killedGB">
     <label for="SKINNEDGB">Skinned</label>
     <input type="checkbox" id="SKINNEDGB">
     <label for="STUDIEDGB">Studied</label>
     <input type="checkbox" id="STUDIEDGB">
     <label for="SEDATEDGB">Sedated</label>
     <input type="checkbox" id="SEDATEDGB">
     <label for="SAMPLEDGB">Sampled</label>
     <input type="checkbox" id="SAMPLEDGB">
     <label for="PHOTOGRAPHEDGB">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDGB">
     <label for="SoldGB">Sample Sold</label>
     <input type="checkbox" id="SoldGB">
     <H1>__________________________________________</h1>
     <h2>Black-Tailed Jackrabbit</h2><br>
     <label for="killedBTJ">Killed</label>
    <input type="checkbox" id="killedBTJ">
    <label for="SKINNEDBTJ">Skinned</label>
    <input type="checkbox" id="SKINNEDBTJ">
    <label for="STUDIEDBTJ">Studied</label>
    <input type="checkbox" id="STUDIEDBTJ">
    <label for="SEDATEDBTJ">Sedated</label>
    <input type="checkbox" id="SEDATEDBTJ">
    <label for="SAMPLEDBTJ">Sampled</label>
    <input type="checkbox" id="SAMPLEDBTJ">
    <label for="PHOTOGRAPHEDBTJ">Photographed</label>
    <input type="checkbox" id="PHOTOGRAPHEDBTJ">
    <label for="SoldBTJ">Sample Sold</label>
    <input type="checkbox" id="SoldBTJ">
    <H1>__________________________________________</h1>


    </div>
    <br>
    <button>Check All</button>
  </div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>

</html>