<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav> 
</head>

<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Red Dead Home</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <H1 align="center">Herbs(Locations and descriptions)</H1>
  

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center">Alaskan Ginsing
        <a id="alaskan ginsing"></a>
      </h2>
<img src="static/alaskan-ginsing.png" alt="alaskan ginsing">

<h2 align="center">American Ginsing
  <a id="american ginsing"></a>
</h2>
<img src="static/american ginsing.png" alt="american ginsing">

<h2 align="center">Bay Bolete
  <a id="bay bolete"></a>
</h2>
<img src="static/bay bolete.png" alt="bay bolete">

<h2 align="center">Black Currant
  <a id="black currant"></a>
</h2>
<img src="static/black currant.png" alt="black currant">

<h2 align="center">Blackberry
  <a id="blackberry"></a>
</h2>
<img src="static/blackberry.png" alt="blackberry">

<h2 align="center">Burdock Root
  <a id="burdock root"></a>
</h2>
<img src="static/burdock root.png" alt="burdock root">

<h2 align="center">Chantrelle
  <a id="chantrelle"></a>
</h2>
<img src="static/chantrelle.png" alt="chantrelle">

<h2 align="center">Common Bulrush
  <a id="common bulrush"></a>
</h2>
<img src="static/common bulrush.png" alt="common bulrush">

<h2 align="center">Creeping Thyme
  <a id="creeping thyme"></a>
</h2>
<img src="static/creeping thyme.png" alt="creeping thyme">

<h2 align="center">Desert Sage
  <a id="desert sage"></a>
</h2>
<img src="static/desert sage.png" alt="desert sage">

<h2 align="center">English Mace
  <a id="english mace"></a>
</h2>
<img src="static/english mace.png" alt="english mace">

<h2 align="center">Evergreen Huckleberry
  <a id="evergreen huckleberry"></a>
</h2>
<img src="static/evergreen huckleberry.png" alt="evergreen huckleberry">

<h2 align="center">Golden Currant
  <a id="golden currant"></a>
</h2>
<img src="static/golden currant.png" alt="golden currant">

<h2 align="center">Hummingbird Sage
  <a id="hummingbird sage"></a>
</h2>
<img src="static/hummingbird sage.png" alt="hummingbird sage">

<h2 align="center">Indian Tobacco
  <a id="indian tobacco"></a>
</h2>
<img src="static/indian tobacco.png" alt="indian tobacco">

<h2 align="center">Milkweed
  <a id="milkweed"></a>
</h2>
<img src="static/milkweed.png" alt="milkweed">

<h2 align="center">Oleander Sage
  <a id="oleander sage"></a>
</h2>
<img src="static/oleander sage.png" alt="oleander sage">

<h2 align="center">Oregano
  <a id="oregano"></a>
</h2>
<img src="static/oregano.png" alt="oregano">

<h2 align="center">Parasol Mushroom
  <a id="parasol mushroom"></a>
</h2>
<img src="static/parasol mushroom.png" alt="parasol mushroom">

<h2 align="center">Prarie Poppy
  <a id="prarie poppy"></a>
</h2>
<img src="static/prarie poppy.png" alt="prarie poppy">

<h2 align="center">Ram's Head
  <a id="rams head"></a>
</h2>
<img src="static/rams head.png" alt="rams head">

<h2 align="center">Raspberry
  <a id="raspberry"></a>
</h2>
<img src="static/raspberry.png" alt="raspberry">

<h2 align="center">Red Sage
  <a id="red sage"></a>
</h2>
<img src="static/red sage.png" alt="red sage">

<h2 align="center">Vanilla Flower
  <a id="vanilla"></a>
</h2>
<img src="static/vanilla.png" alt="vanilla">

<h2 align="center">Violet Snowdrop
  <a id="violet snowdrop"></a>
</h2>
<img src="static/violet snowdrop.png" alt="violet snowdrop">

<h2 align="center">Wild Carrot
  <a id="wild carrot"></a>
</h2>
<img src="static/wild carrot.png" alt="wild carrot">

<h2 align="center">Wild Feverfew
  <a id="wild feverfew"></a>
</h2>
<img src="static/wild feverfew.png" alt="wild feverfew">

<h2 align="center">Wild Mint
  <a id="wild mint"></a>
</h2>
<img src="static/wild mint.png" alt="wild mint">

<h2 align="center">Wintergreen Berry
  <a id="wintergreen berry"></a>
</h2>
<img src="static/wintergreen berry.png" alt="wintergreen berry">

<h2 align="center">Yarrow
  <a id="yarrow"></a>
</h2>
<img src="static/yarrow.png" alt="yarrow">

</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>