<html>
    <head>
        <title>Herokutest</title>
        <link rel="stylesheet" href="app.css">
        <body>
            <h1>Heroku test</h1>
            <h3> {{name}}'s MCU ranking </h3>

            <ol>
                <li>Captain America: The Winter Soldier</li>
                <li>Thor: Ragnorok</li>
                <li>Black Panther</li>
                <li>Avengers: Infinity War</li>
                <li>Avengers: Endgame</li>
                <li>Ant-man</li>
                <li>Ant-man and The Wasp</li>
                <li>Thor</li>
                <li>Captain America: The First Avenger</li>
                <li>Iron Man</li>
                <li>Iron Man 2</li>
                <li>Iron Man 3</li>
                <li>The Avengers</li>
                <li>Spiderman: Homecoming</li>
                <li>Spiderman: Far From Home</li>
                <li>Doctor Strange</li>
                <li>Gaurdians of the Galaxy</li>
                <li>Captain America: Civil War</li>
                <li>Avengers: Age of Ultron</li>
                <li>Captain Marvel</li>
                <li>Gaurdians of the Galaxy Vol. 2</li>
                <li>The Incredible Hulk</li>
                <li>Thor: The Dark World</li>
               

            </0l>
        </body>

    </head>
</html>