<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <h1>Legendary Animals</h1>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container">
    <div>
      <label for="Payta1">PAYTA BISON</label><br><br>
      <label for="trackedPB">tracked</label>
      <input type="checkbox" id="trackedPB">
      <label for="killedPB">Killed</label>
      <input type="checkbox" id="killedPB">
      <label for="skinnedPB">Skinned</label>
      <input type="checkbox" id="skinnedPB">
      <label for="studiedPB">Studied</label>
      <input type="checkbox" id="studiedPB">
      <label for="sedatedPB">Sedated</label>
      <input type="checkbox" id="sedatedPB">
      <label for="sampledPB">Sampled</label>
      <input type="checkbox" id="sampledPB">
      <label for="photoPB">Photo</label>
      <input type="checkbox" id="photoPB">
      <label for="soldPB">Garment made</label>
      <input type="checkbox" id="soldPB"><BR>
      <H1>__________________________________________</h1>
      <label for="TECA1">TECA GATOR</label><br><br>
      <label for="trackedTG">tracked</label>
      <input type="checkbox" id="trackedTG">
      <label for="killedTG">Killed</label>
      <input type="checkbox" id="killedTG">
      <label for="skinnedTG">Skinned</label>
      <input type="checkbox" id="skinnedTG">
      <label for="studiedTG">Studied</label>
      <input type="checkbox" id="studiedTG">
      <label for="sedatedTG">Sedated</label>
      <input type="checkbox" id="sedatedTG">
      <label for="sampledTG">Sampled</label>
      <input type="checkbox" id="sampledTG">
      <label for="photoTG">Photo</label>
      <input type="checkbox" id="photoTG">
      <label for="soldTG">Garment made</label>
      <input type="checkbox" id="soldTG"><br>
      <H1>__________________________________________</h1>
      <label for="night beaver">NIGHT BEAVER</label><br><br>
      <label for="trackedNB">tracked</label>
      <input type="checkbox" id="trackedNB">
      <label for="killedNB">Killed</label>
      <input type="checkbox" id="killedNB">
      <label for="skinnedNB">Skinned</label>
      <input type="checkbox" id="skinnedNB">
      <label for="studiedNB">Studied</label>
      <input type="checkbox" id="studiedNB">
      <label for="sedatedNB">Sedated</label>
      <input type="checkbox" id="sedatedPB">
      <label for="sampledNB">Sampled</label>
      <input type="checkbox" id="sampledNB">
      <label for="photoNB">Photo</label>
      <input type="checkbox" id="photoNB">
      <label for="soldNB">Garment made</label>
      <input type="checkbox" id="soldNB">
      <H1>__________________________________________</h1>
      <label for="TATANKA BISON">TATANKA BISON</label><br><br>
      <label for="trackedTB">tracked</label>
      <input type="checkbox" id="trackedTB">
      <label for="killedTB">Killed</label>
      <input type="checkbox" id="killedTB">
      <label for="skinnedTB">Skinned</label>
      <input type="checkbox" id="skinnedTB">
      <label for="studiedTB">Studied</label>
      <input type="checkbox" id="studiedTB">
      <label for="sedatedTB">Sedated</label>
      <input type="checkbox" id="sedatedTB">
      <label for="sampledTB">Sampled</label>
      <input type="checkbox" id="sampledTB">
      <label for="photoTB">Photo</label>
      <input type="checkbox" id="photoTB">
      <label for="soldTB">Garment made</label>
      <input type="checkbox" id="soldTB">
      <H1>__________________________________________</h1>
      <label for="SHADOW BUCK">SHADOW BUCK</label><br><br>
      <label for="trackedSB">tracked</label>
      <input type="checkbox" id="trackedSB">
      <label for="killedSB">Killed</label>
      <input type="checkbox" id="killedSB">
      <label for="skinnedSB">Skinned</label>
      <input type="checkbox" id="skinnedSB">
      <label for="studiedSB">Studied</label>
      <input type="checkbox" id="studiedSB">
      <label for="sedatedSB">Sedated</label>
      <input type="checkbox" id="sedatedSB">
      <label for="sampledSB">Sampled</label>
      <input type="checkbox" id="sampledSB">
      <label for="photoSB">Photo</label>
      <input type="checkbox" id="photoSB">
      <label for="soldSB">Garment made</label>
      <input type="checkbox" id="soldSB">
      <H1>__________________________________________</h1>
      <label for="SAPA COUGAR">SAPA COUGAR</label><br><br>
      <label for="trackedSC">tracked</label>
      <input type="checkbox" id="trackedSC">
      <label for="killedSC">Killed</label>
      <input type="checkbox" id="killedSC">
      <label for="skinnedSC">Skinned</label>
      <input type="checkbox" id="skinnedSC">
      <label for="studiedSC">Studied</label>
      <input type="checkbox" id="studiedSC">
      <label for="sedatedSC">Sedated</label>
      <input type="checkbox" id="sedatedSC">
      <label for="sampledSC">Sampled</label>
      <input type="checkbox" id="sampledSC">
      <label for="photoSC">Photo</label>
      <input type="checkbox" id="photoSC">
      <label for="soldSC">Garment made</label>
      <input type="checkbox" id="soldSC">
      <H1>__________________________________________</h1>
      <label for="MIDNIGHT PAW COYOTE">MIDNIGHT PAW COYOTE</label><br><br>
      <label for="trackedMPC">tracked</label>
      <input type="checkbox" id="trackedMPC">
      <label for="killedMPC">Killed</label>
      <input type="checkbox" id="killedMPC">
      <label for="skinnedMPC">Skinned</label>
      <input type="checkbox" id="skinnedMPC">
      <label for="studiedMPC">Studied</label>
      <input type="checkbox" id="studiedMPC">
      <label for="sedatedMPC">Sedated</label>
      <input type="checkbox" id="sedatedMPC">
      <label for="sampledMPC">Sampled</label>
      <input type="checkbox" id="sampledMPC">
      <label for="photoMPC">Photo</label>
      <input type="checkbox" id="photoMPC">
      <label for="soldMPC">Garment made</label>
      <input type="checkbox" id="soldMPC">
      <H1>__________________________________________</h1>
      <label for="ONYX WOLF">ONYX WOLF</label><br><br>
      <label for="trackedOW">tracked</label>
      <input type="checkbox" id="trackedOW">
      <label for="killedOW">Killed</label>
      <input type="checkbox" id="killedOW">
      <label for="skinnedOW">Skinned</label>
      <input type="checkbox" id="skinnedOW">
      <label for="studiedOW">Studied</label>
      <input type="checkbox" id="studiedOW">
      <label for="sedatedOW">Sedated</label>
      <input type="checkbox" id="sedatedOW">
      <label for="sampledOW">Sampled</label>
      <input type="checkbox" id="sampledOW">
      <label for="photoOW">Photo</label>
      <input type="checkbox" id="photoOW">
      <label for="soldOW">Garment made</label>
      <input type="checkbox" id="soldOW">
      <H1>__________________________________________</h1>
      <label for="SNOW BUCK">SNOW BUCK</label><br>
      <label for="trackedSNB">tracked</label>
      <input type="checkbox" id="trackedSNB">
      <label for="killedSNB">Killed</label>
      <input type="checkbox" id="killedSNB">
      <label for="skinnedSNB">Skinned</label>
      <input type="checkbox" id="skinnedSNB">
      <label for="studiedSNB">Studied</label>
      <input type="checkbox" id="studiedSNB">
      <label for="sedatedSNB">Sedated</label>
      <input type="checkbox" id="sedatedSNB">
      <label for="sampledSNB">Sampled</label>
      <input type="checkbox" id="sampledSNB">
      <label for="photoSNB">Photo</label>
      <input type="checkbox" id="photoSNB">
      <label for="soldSNB">Garment made</label>
      <input type="checkbox" id="soldSNB">
      <H1>__________________________________________</h1>
      <label for="IGUGA COUGAR">IGUGA COUGAR</label><br><br>
      <label for="trackedIG">tracked</label>
      <input type="checkbox" id="trackedIG">
      <label for="killedIG">Killed</label>
      <input type="checkbox" id="killedIG">
      <label for="skinnedIG">Skinned</label>
      <input type="checkbox" id="skinnedIG">
      <label for="studiedIG">Studied</label>
      <input type="checkbox" id="studiedIG">
      <label for="sedatedIG">Sedated</label>
      <input type="checkbox" id="sedatedIG">
      <label for="sampledIG">Sampled</label>
      <input type="checkbox" id="sampledIG">
      <label for="photoIG">Photo</label>
      <input type="checkbox" id="photoIG">
      <label for="soldIG">Garment made</label>
      <input type="checkbox" id="soldIG">
      <H1>__________________________________________</h1>
      <label for="MILK COYOTE">MILK COYOTE</label><br><br>
      <label for="trackedMC">tracked</label>
      <input type="checkbox" id="trackedMC">
      <label for="killedMC">Killed</label>
      <input type="checkbox" id="killedMC">
      <label for="skinnedMC">Skinned</label>
      <input type="checkbox" id="skinnedMC">
      <label for="studiedMC">Studied</label>
      <input type="checkbox" id="studiedMC">
      <label for="sedatedMC">Sedated</label>
      <input type="checkbox" id="sedatedMC">
      <label for="sampledMC">Sampled</label>
      <input type="checkbox" id="sampledMC">
      <label for="photoMC">Photo</label>
      <input type="checkbox" id="photoMC">
      <label for="soldMC">Garment made</label>
      <input type="checkbox" id="soldMC">
      <H1>__________________________________________</h1>
      <label for="INAHME ELK">INAHME ELK</label><br><br>
      <label for="trackedIE">tracked</label>
      <input type="checkbox" id="trackedIE">
      <label for="killedIE">Killed</label>
      <input type="checkbox" id="killedIE">
      <label for="skinnedIE">Skinned</label>
      <input type="checkbox" id="skinnedIE">
      <label for="studiedIE">Studied</label>
      <input type="checkbox" id="studiedIE">
      <label for="sedatedIE">Sedated</label>
      <input type="checkbox" id="sedatedIE">
      <label for="sampledIE">Sampled</label>
      <input type="checkbox" id="sampledIE">
      <label for="photoIE">Photo</label>
      <input type="checkbox" id="photoIE">
      <label for="soldIE">Garment made</label>
      <input type="checkbox" id="soldIE">
      <H1>__________________________________________</h1>
      <label for="MOONSTONE WOLF">MOONSTONE WOLF</label><br><br>
      <label for="trackedMW">tracked</label>
      <input type="checkbox" id="trackedMW">
      <label for="killedMW">Killed</label>
      <input type="checkbox" id="killedMW">
      <label for="skinnedMW">Skinned</label>
      <input type="checkbox" id="skinnedMW">
      <label for="studiedMW">Studied</label>
      <input type="checkbox" id="studiedMW">
      <label for="sedatedMW">Sedated</label>
      <input type="checkbox" id="sedatedMW">
      <label for="sampledMW">Sampled</label>
      <input type="checkbox" id="sampledMW">
      <label for="photoMW">Photo</label>
      <input type="checkbox" id="photoMW">
      <label for="soldMW">Garment made</label>
      <input type="checkbox" id="soldMW">
      <H1>__________________________________________</h1>
      <label for="SUN GATOR">SUN GATOR</label><br><br>
      <label for="trackedSG">tracked</label>
      <input type="checkbox" id="trackedSG">
      <label for="killedSG">Killed</label>
      <input type="checkbox" id="killedSG">
      <label for="skinnedSG">Skinned</label>
      <input type="checkbox" id="skinnedSG">
      <label for="studiedSG">Studied</label>
      <input type="checkbox" id="studiedSG">
      <label for="sedatedSG">Sedated</label>
      <input type="checkbox" id="sedatedSG">
      <label for="sampledSG">Sampled</label>
      <input type="checkbox" id="sampledSG">
      <label for="photoSG">Photo</label>
      <input type="checkbox" id="photoSG">
      <label for="soldSG">Garment made</label>
      <input type="checkbox" id="soldSG">
      <H1>__________________________________________</h1>
        <label for="BANDED GATOR">BANDED GATOR</label><br><br>
        <label for="trackedBB">tracked</label>
        <input type="checkbox" id="trackedBG">
        <label for="killedBG">Killed</label>
        <input type="checkbox" id="killedBG">
        <label for="skinnedBG">Skinned</label>
        <input type="checkbox" id="skinnedBG">
        <label for="studiedBG">Studied</label>
        <input type="checkbox" id="studiedBG">
        <label for="sedatedBG">Sedated</label>
        <input type="checkbox" id="sedatedBG">
        <label for="sampledBG">Sampled</label>
        <input type="checkbox" id="sampledBG">
        <label for="photoBG">Photo</label>
        <input type="checkbox" id="photoBG">
        <label for="soldBG">Garment made</label>
        <input type="checkbox" id="soldBG">
        <H1>__________________________________________</h1>
        <label for="WAKPA BOAR">WAKPA BOAR</label><br><br>
        <label for="trackedWB">tracked</label>
        <input type="checkbox" id="trackedWB">
        <label for="killedWB">Killed</label>
        <input type="checkbox" id="killedWB">
        <label for="skinnedWB">Skinned</label>
        <input type="checkbox" id="skinnedWB">
        <label for="studiedWB">Studied</label>
        <input type="checkbox" id="studiedWB">
        <label for="sedatedWB">Sedated</label>
        <input type="checkbox" id="sedatedWB">
        <label for="sampledWB">Sampled</label>
        <input type="checkbox" id="sampledWB">
        <label for="photoWB">Photo</label>
        <input type="checkbox" id="photoWB">
        <label for="soldWB">Garment made</label>
        <input type="checkbox" id="soldWB">
        <H1>__________________________________________</h1>
        <label for="RED STREAK COYOTE">RED STREAK COYOTE</label><br><br>
        <label for="trackedRSC">tracked</label>
        <input type="checkbox" id="trackedRSC">
        <label for="killedRSC">Killed</label>
        <input type="checkbox" id="killedRSC">
        <label for="skinnedRSC">Skinned</label>
        <input type="checkbox" id="skinnedRSC">
        <label for="studiedRSC">Studied</label>
        <input type="checkbox" id="studiedRSC">
        <label for="sedatedRSC">Sedated</label>
        <input type="checkbox" id="sedatedRSC">
        <label for="sampledRSC">Sampled</label>
        <input type="checkbox" id="sampledRSC">
        <label for="photoRSC">Photo</label>
        <input type="checkbox" id="photoRSC">
        <label for="soldRSC">Garment made</label>
        <input type="checkbox" id="soldRSC">
        <H1>__________________________________________</h1>
        <label for="OZULA ELK">OZULA ELK</label><br><br>
        <label for="trackedOE">tracked</label>
        <input type="checkbox" id="trackedOE">
        <label for="killedOE">Killed</label>
        <input type="checkbox" id="killedOE">
        <label for="skinnedOE">Skinned</label>
        <input type="checkbox" id="skinnedOE">
        <label for="studiedOE">Studied</label>
        <input type="checkbox" id="studiedOE">
        <label for="sedatedOE">Sedated</label>
        <input type="checkbox" id="sedatedOE">
        <label for="sampledOE">Sampled</label>
        <input type="checkbox" id="sampledOE">
        <label for="photoOE">Photo</label>
        <input type="checkbox" id="photoOE">
        <label for="soldOE">Garment made</label>
        <input type="checkbox" id="soldOE">
        <H1>__________________________________________</h1>
        <label for="ICHAI BOAR">ICHAI BOAR</label><br><br>
        <label for="trackedIB">tracked</label>
        <input type="checkbox" id="trackedIB">
        <label for="killedIB">Killed</label>
        <input type="checkbox" id="killedIB">
        <label for="skinnedIB">Skinned</label>
        <input type="checkbox" id="skinnedIB">
        <label for="studiedIB">Studied</label>
        <input type="checkbox" id="studiedIB">
        <label for="sedatedIB">Sedated</label>
        <input type="checkbox" id="sedatedIB">
        <label for="sampledIB">Sampled</label>
        <input type="checkbox" id="sampledIB">
        <label for="photoIB">Photo</label>
        <input type="checkbox" id="photoIB">
        <label for="soldIB">Garment made</label>
        <input type="checkbox" id="soldIB">
        <H1>__________________________________________</h1>
        <label for="MUD RUNNER BUCK">MUD RUNNER BUCK</label><br><br>
        <label for="trackedMRB">tracked</label>
        <input type="checkbox" id="trackedMRB">
        <label for="killedMRB">Killed</label>
        <input type="checkbox" id="killedMRB">
        <label for="skinnedMRB">Skinned</label>
        <input type="checkbox" id="skinnedMRB">
        <label for="studiedMRB">Studied</label>
        <input type="checkbox" id="studiedMRB">
        <label for="sedatedMRB">Sedated</label>
        <input type="checkbox" id="sedatedMRB">
        <label for="sampledMRB">Sampled</label>
        <input type="checkbox" id="sampledMRB">
        <label for="photoMRB">Photo</label>
        <input type="checkbox" id="photoMRB">
        <label for="soldMRB">Garment made</label>
        <input type="checkbox" id="soldMRB">
        <H1>__________________________________________</h1>
         <label for="MAZA COUGAR">MAZA COUGAR</label><br><br>
        <label for="trackedMZC">tracked</label>
        <input type="checkbox" id="trackedMZC">
        <label for="killedMZC">Killed</label>
        <input type="checkbox" id="killedMZC">
        <label for="skinnedMZC">Skinned</label>
        <input type="checkbox" id="skinnedMZC">
        <label for="studiedMZC">Studied</label>
        <input type="checkbox" id="studiedMZC">
        <label for="sedatedMZC">Sedated</label>
        <input type="checkbox" id="sedatedMZC">
        <label for="sampledMZC">Sampled</label>
        <input type="checkbox" id="sampledMZC">
        <label for="photoMZC">Photo</label>
        <input type="checkbox" id="photoMZC">
        <label for="soldMZC">Garment made</label>
        <input type="checkbox" id="soldMZC">
        <H1>__________________________________________</h1>
        <label for="OTA FOX">OTA FOX</label><br><br>
        <label for="trackedOTA">tracked</label>
        <input type="checkbox" id="trackedOTA">
        <label for="killedOTA">Killed</label>
        <input type="checkbox" id="killedOTA">
        <label for="skinnedOTA">Skinned</label>
        <input type="checkbox" id="skinnedOTA">
        <label for="studiedOTA">Studied</label>
        <input type="checkbox" id="studiedOTA">
        <label for="sedatedOTA">Sedated</label>
        <input type="checkbox" id="sedatedOTA">
        <label for="sampledOTA">Sampled</label>
        <input type="checkbox" id="sampledOTA">
        <label for="photoOTA">Photo</label>
        <input type="checkbox" id="photoOTA">
        <label for="soldOTA">Garment made</label>
        <input type="checkbox" id="soldOTA">
        <H1>__________________________________________</h1>
        <label for="MARBLE FOX">MARBLE FOX</label><br><br>
        <label for="trackedMF">tracked</label>
        <input type="checkbox" id="trackedMF">
        <label for="killedMF">Killed</label>
        <input type="checkbox" id="killedMF">
        <label for="skinnedMF">Skinned</label>
        <input type="checkbox" id="skinnedMF">
        <label for="studiedMF">Studied</label>
        <input type="checkbox" id="studiedMF">
        <label for="sedatedMF">Sedated</label>
        <input type="checkbox" id="sedatedMF">
        <label for="sampledMF">Sampled</label>
        <input type="checkbox" id="sampledMF">
        <label for="photoMF">Photo</label>
        <input type="checkbox" id="photoMF">
        <label for="soldMF">Garment made</label>
        <input type="checkbox" id="soldMF">
        <H1>__________________________________________</h1>
          <label for="CROSS FOX">CROSS FOX</label><br><br>
          <label for="trackedCF">tracked</label>
          <input type="checkbox" id="trackedCF">
          <label for="killedCF">Killed</label>
          <input type="checkbox" id="killedCF">
          <label for="skinnedCF">Skinned</label>
          <input type="checkbox" id="skinnedCF">
          <label for="studiedCF">Studied</label>
          <input type="checkbox" id="studiedCF">
          <label for="sedatedCF">Sedated</label>
          <input type="checkbox" id="sedatedCF">
          <label for="sampledCF">Sampled</label>
          <input type="checkbox" id="sampledCF">
          <label for="photoCF">Photo</label>
          <input type="checkbox" id="photoCF">
          <label for="soldCF">Garment made</label>
          <input type="checkbox" id="soldCF">
          <H1>__________________________________________</h1>
    </div>
    <br>
    <button>Check All</button>
  </div>
  
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>
</body>

</html>