<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav>
</head>

<body>
  <h1 align="center">Legendary Animals</h1>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container" align="center">
    <div>
      <h2>BANDED GATOR</h2><br>
      <label for="trackedBB">Tracked</label>
      <input type="checkbox" id="trackedBG">
      <label for="killedBG">Killed</label>
      <input type="checkbox" id="killedBG">
      <label for="skinnedBG">Skinned</label>
      <input type="checkbox" id="skinnedBG">
      <label for="studiedBG">Studied</label>
      <input type="checkbox" id="studiedBG">
      <label for="sedatedBG">Sedated</label>
      <input type="checkbox" id="sedatedBG">
      <label for="sampledBG">Sampled</label>
      <input type="checkbox" id="sampledBG">
      <label for="photoBG">Photo</label>
      <input type="checkbox" id="photoBG">
      <label for="soldBG">Garment made</label>
      <input type="checkbox" id="soldBG">
      <H1>__________________________________________</h1>

      <h2>CHALK HORN RAM</h2><br>
      <label for="trackedCHR">Tracked</label>
      <input type="checkbox" id="trackedCHR">
      <label for="killedCHR">Killed</label>
      <input type="checkbox" id="killedCHR">
      <label for="skinnedCHR">Skinned</label>
      <input type="checkbox" id="skinnedCHR">
      <label for="studiedCHR">Studied</label>
      <input type="checkbox" id="studiedCHR">
      <label for="sedatedCHR">Sedated</label>
      <input type="checkbox" id="sedatedCHR">
      <label for="sampledCHR">Sampled</label>
      <input type="checkbox" id="sampledCHR">
      <label for="photoCHR">Photo</label>
      <input type="checkbox" id="photoCHR">
      <label for="soldCHR">Garment made</label>
      <input type="checkbox" id="soldCHR">
      <H1>__________________________________________</h1>

      <h2>COGI BOAR</h2><br>
      <label for="trackedCGB">Tracked</label>
      <input type="checkbox" id="trackedCGB">
      <label for="killedCGB">Killed</label>
      <input type="checkbox" id="killedCGB">
      <label for="skinnedCGB">Skinned</label>
      <input type="checkbox" id="skinnedCGB">
      <label for="studiedCGB">Studied</label>
      <input type="checkbox" id="studiedCGB">
      <label for="sedatedCGB">Sedated</label>
      <input type="checkbox" id="sedatedCGB">
      <label for="sampledCGB">Sampled</label>
      <input type="checkbox" id="sampledCGB">
      <label for="photoCGB">Photo</label>
      <input type="checkbox" id="photoCGB">
      <label for="soldCGB">Garment made</label>
      <input type="checkbox" id="soldCGB">
      <H1>__________________________________________</h1>

      <h2>CROSS FOX</h2><br>
      <label for="trackedCF">Tracked</label>
      <input type="checkbox" id="trackedCF">
      <label for="killedCF">Killed</label>
      <input type="checkbox" id="killedCF">
      <label for="skinnedCF">Skinned</label>
      <input type="checkbox" id="skinnedCF">
      <label for="studiedCF">Studied</label>
      <input type="checkbox" id="studiedCF">
      <label for="sedatedCF">Sedated</label>
      <input type="checkbox" id="sedatedCF">
      <label for="sampledCF">Sampled</label>
      <input type="checkbox" id="sampledCF">
      <label for="photoCF">Photo</label>
      <input type="checkbox" id="photoCF">
      <label for="soldCF">Garment made</label>
      <input type="checkbox" id="soldCF">
      <H1>__________________________________________</h1>  
      
      <h2>Emerald WOLF</h2><br>
      <label for="trackedEW">Tracked</label>
      <input type="checkbox" id="trackedEW">
      <label for="killedEW">Killed</label>
      <input type="checkbox" id="killedEW">
      <label for="skinnedEW">Skinned</label>
      <input type="checkbox" id="skinnedEW">
      <label for="studiedEW">Studied</label>
      <input type="checkbox" id="studiedEW">
      <label for="sedatedEW">Sedated</label>
      <input type="checkbox" id="sedatedEW">
      <label for="sampledEW">Sampled</label>
      <input type="checkbox" id="sampledEW">
      <label for="photoEW">Photo</label>
      <input type="checkbox" id="photoEW">
      <label for="soldEW">Garment made</label>
      <input type="checkbox" id="soldEW">
      <H1>__________________________________________</h1> 
        
      <h2>GABBRO HORN RAM</h2><br>
      <label for="trackedGHR">Tracked</label>
      <input type="checkbox" id="trackedGHR">
      <label for="killedGHR">Killed</label>
      <input type="checkbox" id="killedGHR">
      <label for="skinnedGHR">Skinned</label>
      <input type="checkbox" id="skinnedGHR">
      <label for="studiedGHR">Studied</label>
      <input type="checkbox" id="studiedGHR">
      <label for="sedatedGHR">Sedated</label>
      <input type="checkbox" id="sedatedGHR">
      <label for="sampledGHR">Sampled</label>
      <input type="checkbox" id="sampledGHR">
      <label for="photoGHR">Photo</label>
      <input type="checkbox" id="photoGHR">
      <label for="soldGHR">Garment made</label>
      <input type="checkbox" id="soldGHR">
      <H1>__________________________________________</h1>


      <h2>GHOST PANTHER</h2><br>
      <label for="trackedGSTP">Tracked</label>
      <input type="checkbox" id="trackedGSTP">
      <label for="killedGSTP">Killed</label>
      <input type="checkbox" id="killedGSTP">
      <label for="skinnedGSTP">Skinned</label>
      <input type="checkbox" id="skinnedGSTP">
      <label for="studiedGSTP">Studied</label>
      <input type="checkbox" id="studiedGSTP">
      <label for="sedatedGSTP">Sedated</label>
      <input type="checkbox" id="sedatedGSTP">
      <label for="sampledGSTP">Sampled</label>
      <input type="checkbox" id="sampledGSTP">
      <label for="photoGSTP">Photo</label>
      <input type="checkbox" id="photoGSTP">
      <label for="soldGSTP">Garment made</label>
      <input type="checkbox" id="soldGSTP">
      <H1>__________________________________________</h1>  

      <h2>GOLDEN SPIRIT BEAR</h2><br>
      <label for="trackedGLDN">Tracked</label>
      <input type="checkbox" id="trackedGLDN">
      <label for="killedGLDN">Killed</label>
      <input type="checkbox" id="killedGLDN">
      <label for="skinnedGLDN">Skinned</label>
      <input type="checkbox" id="skinnedGLDN">
      <label for="studiedGLDN">Studied</label>
      <input type="checkbox" id="studiedGLDN">
      <label for="sedatedGLDN">Sedated</label>
      <input type="checkbox" id="sedatedGLDN">
      <label for="sampledGLDN">Sampled</label>
      <input type="checkbox" id="sampledGLDN">
      <label for="photoGLDN">Photo</label>
      <input type="checkbox" id="photoGLDN">
      <label for="soldGLDN">Garment made</label>
      <input type="checkbox" id="soldGLDN">
      <H1>__________________________________________</h1>  
        
      <h2>ICHAI BOAR</h2><br>
      <label for="trackedIB">Tracked</label>
      <input type="checkbox" id="trackedIB">
      <label for="killedIB">Killed</label>
      <input type="checkbox" id="killedIB">
      <label for="skinnedIB">Skinned</label>
      <input type="checkbox" id="skinnedIB">
      <label for="studiedIB">Studied</label>
      <input type="checkbox" id="studiedIB">
      <label for="sedatedIB">Sedated</label>
      <input type="checkbox" id="sedatedIB">
      <label for="sampledIB">Sampled</label>
      <input type="checkbox" id="sampledIB">
      <label for="photoIB">Photo</label>
      <input type="checkbox" id="photoIB">
      <label for="soldIB">Garment made</label>
      <input type="checkbox" id="soldIB">
      <H1>__________________________________________</h1>  
        
      <h2>IGUGA COUGAR</h2><br>
      <label for="trackedIG">Tracked</label>
      <input type="checkbox" id="trackedIG">
      <label for="killedIG">Killed</label>
      <input type="checkbox" id="killedIG">
      <label for="skinnedIG">Skinned</label>
      <input type="checkbox" id="skinnedIG">
      <label for="studiedIG">Studied</label>
      <input type="checkbox" id="studiedIG">
      <label for="sedatedIG">Sedated</label>
      <input type="checkbox" id="sedatedIG">
      <label for="sampledIG">Sampled</label>
      <input type="checkbox" id="sampledIG">
      <label for="photoIG">Photo</label>
      <input type="checkbox" id="photoIG">
      <label for="soldIG">Garment made</label>
      <input type="checkbox" id="soldIG">
      <H1>__________________________________________</h1>    
        
      <h2>INAHME ELK</h2><br>
      <label for="trackedIE">Tracked</label>
      <input type="checkbox" id="trackedIE">
      <label for="killedIE">Killed</label>
      <input type="checkbox" id="killedIE">
      <label for="skinnedIE">Skinned</label>
      <input type="checkbox" id="skinnedIE">
      <label for="studiedIE">Studied</label>
      <input type="checkbox" id="studiedIE">
      <label for="sedatedIE">Sedated</label>
      <input type="checkbox" id="sedatedIE">
      <label for="sampledIE">Sampled</label>
      <input type="checkbox" id="sampledIE">
      <label for="photoIE">Photo</label>
      <input type="checkbox" id="photoIE">
      <label for="soldIE">Garment made</label>
      <input type="checkbox" id="soldIE">
      <H1>__________________________________________</h1>    
        
      <h2>IWAKTA PANTHER</h2><br>
      <label for="trackedIWP">Tracked</label>
      <input type="checkbox" id="trackedIWP">
      <label for="killedIWP">Killed</label>
      <input type="checkbox" id="killedIWP">
      <label for="skinnedIWP">Skinned</label>
      <input type="checkbox" id="skinnedIWP">
      <label for="studiedIWP">Studied</label>
      <input type="checkbox" id="studiedIWP">
      <label for="sedatedIWP">Sedated</label>
      <input type="checkbox" id="sedatedIWP">
      <label for="sampledIWP">Sampled</label>
      <input type="checkbox" id="sampledIWP">
      <label for="photoIWP">Photo</label>
      <input type="checkbox" id="photoIWP">
      <label for="soldIWP">Garment made</label>
      <input type="checkbox" id="soldIWP">
      <H1>__________________________________________</h1>

      <h2>KATATA ELK</h2><br>
      <label for="trackedKE">Tracked</label>
      <input type="checkbox" id="trackedKE">
      <label for="killedKE">Killed</label>
      <input type="checkbox" id="killedKE">
      <label for="skinnedKE">Skinned</label>
      <input type="checkbox" id="skinnedKE">
      <label for="studiedKE">Studied</label>
      <input type="checkbox" id="studiedKE">
      <label for="sedatedKE">Sedated</label>
      <input type="checkbox" id="sedatedKE">
      <label for="sampledKE">Sampled</label>
      <input type="checkbox" id="sampledKE">
      <label for="photoKE">Photo</label>
      <input type="checkbox" id="photoKE">
      <label for="soldKE">Garment made</label>
      <input type="checkbox" id="soldKE">
      <H1>__________________________________________</h1>

      <h2>KNIGHT MOOSE</h2><br>
      <label for="trackedKMSS">Tracked</label>
      <input type="checkbox" id="trackedKMSS">
      <label for="killedKMSS">Killed</label>
      <input type="checkbox" id="killedKMSS">
      <label for="skinnedKMSS">Skinned</label>
      <input type="checkbox" id="skinnedKMSS">
      <label for="studiedKMSS">Studied</label>
      <input type="checkbox" id="studiedKMSS">
      <label for="sedatedKMSS">Sedated</label>
      <input type="checkbox" id="sedatedKMSS">
      <label for="sampledKMSS">Sampled</label>
      <input type="checkbox" id="sampledKMSS">
      <label for="photoKMSS">Photo</label>
      <input type="checkbox" id="photoKMSS">
      <label for="soldKMSS">Garment made</label>
      <input type="checkbox" id="soldKMSS">
      <H1>__________________________________________</h1>

      <h2>MARBLE FOX</h2><br>
      <label for="trackedMF">Tracked</label>
      <input type="checkbox" id="trackedMF">
      <label for="killedMF">Killed</label>
      <input type="checkbox" id="killedMF">
      <label for="skinnedMF">Skinned</label>
      <input type="checkbox" id="skinnedMF">
      <label for="studiedMF">Studied</label>
      <input type="checkbox" id="studiedMF">
      <label for="sedatedMF">Sedated</label>
      <input type="checkbox" id="sedatedMF">
      <label for="sampledMF">Sampled</label>
      <input type="checkbox" id="sampledMF">
      <label for="photoMF">Photo</label>
      <input type="checkbox" id="photoMF">
      <label for="soldMF">Garment made</label>
      <input type="checkbox" id="soldMF">
      <H1>__________________________________________</h1>
  
      <h2>MAZA COUGAR</h2><br>
      <label for="trackedMZC">Tracked</label>
      <input type="checkbox" id="trackedMZC">
      <label for="killedMZC">Killed</label>
      <input type="checkbox" id="killedMZC">
      <label for="skinnedMZC">Skinned</label>
      <input type="checkbox" id="skinnedMZC">
      <label for="studiedMZC">Studied</label>
      <input type="checkbox" id="studiedMZC">
      <label for="sedatedMZC">Sedated</label>
      <input type="checkbox" id="sedatedMZC">
      <label for="sampledMZC">Sampled</label>
      <input type="checkbox" id="sampledMZC">
      <label for="photoMZC">Photo</label>
      <input type="checkbox" id="photoMZC">
      <label for="soldMZC">Garment made</label>
      <input type="checkbox" id="soldMZC">
      <H1>__________________________________________</h1>

      <h2>MIDNIGHT PAW COYOTE</h2><br>
      <label for="trackedMPC">Tracked</label>
      <input type="checkbox" id="trackedMPC">
      <label for="killedMPC">Killed</label>
      <input type="checkbox" id="killedMPC">
      <label for="skinnedMPC">Skinned</label>
      <input type="checkbox" id="skinnedMPC">
      <label for="studiedMPC">Studied</label>
      <input type="checkbox" id="studiedMPC">
      <label for="sedatedMPC">Sedated</label>
      <input type="checkbox" id="sedatedMPC">
      <label for="sampledMPC">Sampled</label>
      <input type="checkbox" id="sampledMPC">
      <label for="photoMPC">Photo</label>
      <input type="checkbox" id="photoMPC">
      <label for="soldMPC">Garment made</label>
      <input type="checkbox" id="soldMPC">
      <H1>__________________________________________</h1>

      <h2>MILK COYOTE</h2><br>
      <label for="trackedMC">Tracked</label>
      <input type="checkbox" id="trackedMC">
      <label for="killedMC">Killed</label>
      <input type="checkbox" id="killedMC">
      <label for="skinnedMC">Skinned</label>
      <input type="checkbox" id="skinnedMC">
      <label for="studiedMC">Studied</label>
      <input type="checkbox" id="studiedMC">
      <label for="sedatedMC">Sedated</label>
      <input type="checkbox" id="sedatedMC">
      <label for="sampledMC">Sampled</label>
      <input type="checkbox" id="sampledMC">
      <label for="photoMC">Photo</label>
      <input type="checkbox" id="photoMC">
      <label for="soldMC">Garment made</label>
      <input type="checkbox" id="soldMC">
      <H1>__________________________________________</h1>

      <h2>MOON BEAVER</h2><br>
      <label for="trackedMNB">Tracked</label>
      <input type="checkbox" id="trackedMNB">
      <label for="killedMNB">Killed</label>
      <input type="checkbox" id="killedMNB">
      <label for="skinnedMNB">Skinned</label>
      <input type="checkbox" id="skinnedMNB">
      <label for="studiedMNB">Studied</label>
      <input type="checkbox" id="studiedMNB">
      <label for="sedatedMNB">Sedated</label>
      <input type="checkbox" id="sedatedMNB">
      <label for="sampledMNB">Sampled</label>
      <input type="checkbox" id="sampledMNB">
      <label for="photoMNB">Photo</label>
      <input type="checkbox" id="photoMNB">
      <label for="soldMNB">Garment made</label>
      <input type="checkbox" id="soldMNB">
      <H1>__________________________________________</h1>

      <h2>MOONSTONE WOLF</h2><br>
      <label for="trackedMW">Tracked</label>
      <input type="checkbox" id="trackedMW">
      <label for="killedMW">Killed</label>
      <input type="checkbox" id="killedMW">
      <label for="skinnedMW">Skinned</label>
      <input type="checkbox" id="skinnedMW">
      <label for="studiedMW">Studied</label>
      <input type="checkbox" id="studiedMW">
      <label for="sedatedMW">Sedated</label>
      <input type="checkbox" id="sedatedMW">
      <label for="sampledMW">Sampled</label>
      <input type="checkbox" id="sampledMW">
      <label for="photoMW">Photo</label>
      <input type="checkbox" id="photoMW">
      <label for="soldMW">Garment made</label>
      <input type="checkbox" id="soldMW">
      <H1>__________________________________________</h1>

      <h2>MUD RUNNER BUCK</h2><br>
      <label for="trackedMRB">Tracked</label>
      <input type="checkbox" id="trackedMRB">
      <label for="killedMRB">Killed</label>
      <input type="checkbox" id="killedMRB">
      <label for="skinnedMRB">Skinned</label>
      <input type="checkbox" id="skinnedMRB">
      <label for="studiedMRB">Studied</label>
      <input type="checkbox" id="studiedMRB">
      <label for="sedatedMRB">Sedated</label>
      <input type="checkbox" id="sedatedMRB">
      <label for="sampledMRB">Sampled</label>
      <input type="checkbox" id="sampledMRB">
      <label for="photoMRB">Photo</label>
      <input type="checkbox" id="photoMRB">
      <label for="soldMRB">Garment made</label>
      <input type="checkbox" id="soldMRB">
      <H1>__________________________________________</h1>

      <h2>NIGHT BEAVER</h2><br>
      <label for="trackedNB">Tracked</label>
      <input type="checkbox" id="trackedNB">
      <label for="killedNB">Killed</label>
      <input type="checkbox" id="killedNB">
      <label for="skinnedNB">Skinned</label>
      <input type="checkbox" id="skinnedNB">
      <label for="studiedNB">Studied</label>
      <input type="checkbox" id="studiedNB">
      <label for="sedatedNB">Sedated</label>
      <input type="checkbox" id="sedatedNB">
      <label for="sampleNB">Sampled</label>
      <input type="checkbox" id="sampleNB">
      <label for="photoNB">Photo</label>
      <input type="checkbox" id="photoNB">
      <label for="soldNB">Garment made</label>
      <input type="checkbox" id="soldNB">
      <H1>__________________________________________</h1>

      <h2>NIGHTWALKER PANTHER</h2><br>
      <label for="trackedNBWP">Tracked</label>
      <input type="checkbox" id="trackedNBWP">
      <label for="killedNWP">Killed</label>
      <input type="checkbox" id="killedNWP">
      <label for="skinnedNWP">Skinned</label>
      <input type="checkbox" id="skinnedNWP">
      <label for="studiedNWP">Studied</label>
      <input type="checkbox" id="studiedNWP">
      <label for="sedatedNWP">Sedated</label>
      <input type="checkbox" id="sedatedNWP">
      <label for="sampleNWP">Sampled</label>
      <input type="checkbox" id="sampleNWP">
      <label for="photoNWP">Photo</label>
      <input type="checkbox" id="photoNWP">
      <label for="soldNWP">Garment made</label>
      <input type="checkbox" id="soldNWP">
      <H1>__________________________________________</h1>

      <h2>ONYX WOLF</h2><br>
      <label for="trackedOW">Tracked</label>
      <input type="checkbox" id="trackedOW">
      <label for="killedOW">Killed</label>
      <input type="checkbox" id="killedOW">
      <label for="skinnedOW">Skinned</label>
      <input type="checkbox" id="skinnedOW">
      <label for="studiedOW">Studied</label>
      <input type="checkbox" id="studiedOW">
      <label for="sedatedOW">Sedated</label>
      <input type="checkbox" id="sedatedOW">
      <label for="sampledOW">Sampled</label>
      <input type="checkbox" id="sampledOW">
      <label for="photoOW">Photo</label>
      <input type="checkbox" id="photoOW">
      <label for="soldOW">Garment made</label>
      <input type="checkbox" id="soldOW">
      <H1>__________________________________________</h1>

      <h2>OTA FOX</h2><br>
      <label for="trackedOTA">Tracked</label>
      <input type="checkbox" id="trackedOTA">
      <label for="killedOTA">Killed</label>
      <input type="checkbox" id="killedOTA">
      <label for="skinnedOTA">Skinned</label>
      <input type="checkbox" id="skinnedOTA">
      <label for="studiedOTA">Studied</label>
      <input type="checkbox" id="studiedOTA">
      <label for="sedatedOTA">Sedated</label>
      <input type="checkbox" id="sedatedOTA">
      <label for="sampledOTA">Sampled</label>
      <input type="checkbox" id="sampledOTA">
      <label for="photoOTA">Photo</label>
      <input type="checkbox" id="photoOTA">
      <label for="soldOTA">Garment made</label>
      <input type="checkbox" id="soldOTA">
      <H1>__________________________________________</h1>

      <h2>OWIZA BEAR</h2><br>
      <label for="trackedOWZB">Tracked</label>
      <input type="checkbox" id="trackedOWZB">
      <label for="killedOWZB">Killed</label>
      <input type="checkbox" id="killedOWZB">
      <label for="skinnedOWZB">Skinned</label>
      <input type="checkbox" id="skinnedOWZB">
      <label for="studiedOWZB">Studied</label>
      <input type="checkbox" id="studiedOWZB">
      <label for="sedatedOWZB">Sedated</label>
      <input type="checkbox" id="sedatedOWZB">
      <label for="sampledOWZB">Sampled</label>
      <input type="checkbox" id="sampledOWZB">
      <label for="photoOWZB">Photo</label>
      <input type="checkbox" id="photoOWZB">
      <label for="soldOWZB">Garment made</label>
      <input type="checkbox" id="soldOWZB">
      <H1>__________________________________________</h1>

      <h2>OZULA ELK</h2><br>
      <label for="trackedOE">Tracked</label>
      <input type="checkbox" id="trackedOE">
      <label for="killedOE">Killed</label>
      <input type="checkbox" id="killedOE">
      <label for="skinnedOE">Skinned</label>
      <input type="checkbox" id="skinnedOE">
      <label for="studiedOE">Studied</label>
      <input type="checkbox" id="studiedOE">
      <label for="sedatedOE">Sedated</label>
      <input type="checkbox" id="sedatedOE">
      <label for="sampledOE">Sampled</label>
      <input type="checkbox" id="sampledOE">
      <label for="photoOE">Photo</label>
      <input type="checkbox" id="photoOE">
      <label for="soldOE">Garment made</label>
      <input type="checkbox" id="soldOE">
      <H1>__________________________________________</h1>


      <h2>PAYTA BISON</h2><br>
      <label for="trackedPB">Tracked</label>
      <input type="checkbox" id="trackedPB">
      <label for="killedPB">Killed</label>
      <input type="checkbox" id="killedPB">
      <label for="skinnedPB">Skinned</label>
      <input type="checkbox" id="skinnedPB">
      <label for="studiedPB">Studied</label>
      <input type="checkbox" id="studiedPB">
      <label for="sedatedPB">Sedated</label>
      <input type="checkbox" id="sedatedPB">
      <label for="sampledPB23">Sampled</label>
      <input type="checkbox" id="sampledPB23">
      <label for="photoPB">Photo</label>
      <input type="checkbox" id="photoPB">
      <label for="soldPB">Garment made</label>
      <input type="checkbox" id="soldPB"><BR>
      <H1>__________________________________________</h1>

      <h2>RED STREAK COYOTE</h2><br>
      <label for="trackedRSC">Tracked</label>
      <input type="checkbox" id="trackedRSC">
      <label for="killedRSC">Killed</label>
      <input type="checkbox" id="killedRSC">
      <label for="skinnedRSC">Skinned</label>
      <input type="checkbox" id="skinnedRSC">
      <label for="studiedRSC">Studied</label>
      <input type="checkbox" id="studiedRSC">
      <label for="sedatedRSC">Sedated</label>
      <input type="checkbox" id="sedatedRSC">
      <label for="sampledRSC">Sampled</label>
      <input type="checkbox" id="sampledRSC">
      <label for="photoRSC">Photo</label>
      <input type="checkbox" id="photoRSC">
      <label for="soldRSC">Garment made</label>
      <input type="checkbox" id="soldRSC">
      <H1>__________________________________________</h1>

      <h2>RIDGEBACK BEAR</h2><br>
      <label for="trackedRGB">Tracked</label>
      <input type="checkbox" id="trackedRGB">
      <label for="killedRGB">Killed</label>
      <input type="checkbox" id="killedRGB">
      <label for="skinnedRGB">Skinned</label>
      <input type="checkbox" id="skinnedRGB">
      <label for="studiedRGB">Studied</label>
      <input type="checkbox" id="studiedRGB">
      <label for="sedatedRGB">Sedated</label>
      <input type="checkbox" id="sedatedRGB">
      <label for="sampledRGB">Sampled</label>
      <input type="checkbox" id="sampledRGB">
      <label for="photoRGB">Photo</label>
      <input type="checkbox" id="photoRGB">
      <label for="soldRGB">Garment made</label>
      <input type="checkbox" id="soldRGB">
      <H1>__________________________________________</h1>

      <h2>RUDDY MOOSE</h2><br>
      <label for="trackedRDM">Tracked</label>
      <input type="checkbox" id="trackedRDM">
      <label for="killedRDM">Killed</label>
      <input type="checkbox" id="killedRDM">
      <label for="skinnedRDM">Skinned</label>
      <input type="checkbox" id="skinnedRDM">
      <label for="studiedRDM">Studied</label>
      <input type="checkbox" id="studiedRDM">
      <label for="sedatedRDM">Sedated</label>
      <input type="checkbox" id="sedatedRDM">
      <label for="sampledRDM">Sampled</label>
      <input type="checkbox" id="sampledRDM">
      <label for="photoRDM">Photo</label>
      <input type="checkbox" id="photoRDM">
      <label for="soldRDM">Garment made</label>
      <input type="checkbox" id="soldRDM">
      <H1>__________________________________________</h1>

      <h2>RUTILE HORN RAM</h2><br>
      <label for="trackedRHR">Tracked</label>
      <input type="checkbox" id="trackedRHR">
      <label for="killedRHR">Killed</label>
      <input type="checkbox" id="killedRHR">
      <label for="skinnedRHR">Skinned</label>
      <input type="checkbox" id="skinnedRHR">
      <label for="studiedRHR">Studied</label>
      <input type="checkbox" id="studiedRHR">
      <label for="sedatedRHR">Sedated</label>
      <input type="checkbox" id="sedatedRHR">
      <label for="sampledRHR">Sampled</label>
      <input type="checkbox" id="sampledRHR">
      <label for="photoRHR">Photo</label>
      <input type="checkbox" id="photoRHR">
      <label for="soldRHR">Garment made</label>
      <input type="checkbox" id="soldRHR">
      <H1>__________________________________________</h1>

      <h2>SAPA COUGAR</h2><br>
      <label for="trackedSC">Tracked</label>
      <input type="checkbox" id="trackedSC">
      <label for="killedSC">Killed</label>
      <input type="checkbox" id="killedSC">
      <label for="skinnedSC">Skinned</label>
      <input type="checkbox" id="skinnedSC">
      <label for="studiedSC">Studied</label>
      <input type="checkbox" id="studiedSC">
      <label for="sedatedSC">Sedated</label>
      <input type="checkbox" id="sedatedSC">
      <label for="sampledSC">Sampled</label>
      <input type="checkbox" id="sampledSC">
      <label for="photoSC">Photo</label>
      <input type="checkbox" id="photoSC">
      <label for="soldSC">Garment made</label>
      <input type="checkbox" id="soldSC">
      <H1>__________________________________________</h1>

      <h2>SHADOW BUCK</h2><br>
      <label for="trackedSB">Tracked</label>
      <input type="checkbox" id="trackedSB">
      <label for="killedSB">Killed</label>
      <input type="checkbox" id="killedSB">
      <label for="skinnedSB">Skinned</label>
      <input type="checkbox" id="skinnedSB">
      <label for="studiedSB">Studied</label>
      <input type="checkbox" id="studiedSB">
      <label for="sedatedSB">Sedated</label>
      <input type="checkbox" id="sedatedSB">
      <label for="sampledSB">Sampled</label>
      <input type="checkbox" id="sampledSB">
      <label for="photoSB">Photo</label>
      <input type="checkbox" id="photoSB">
      <label for="soldSB">Garment made</label>
      <input type="checkbox" id="soldSB">
      <H1>__________________________________________</h1>   
      
      <h2>SNOW BUCK</h2><br>
      <label for="trackedSNB">Tracked</label>
      <input type="checkbox" id="trackedSNB">
      <label for="killedSNB">Killed</label>
      <input type="checkbox" id="killedSNB">
      <label for="skinnedSNB">Skinned</label>
      <input type="checkbox" id="skinnedSNB">
      <label for="studiedSNB">Studied</label>
      <input type="checkbox" id="studiedSNB">
      <label for="sedatedSNB">Sedated</label>
      <input type="checkbox" id="sedatedSNB">
      <label for="sampledSNB">Sampled</label>
      <input type="checkbox" id="sampledSNB">
      <label for="photoSNB">Photo</label>
      <input type="checkbox" id="photoSNB">
      <label for="soldSNB">Garment made</label>
      <input type="checkbox" id="soldSNB">
      <H1>__________________________________________</h1>

      <h2>SNOWFLAKE MOOSE</h2><br>
      <label for="trackedSNFM">Tracked</label>
      <input type="checkbox" id="trackedSNFM">
      <label for="killedSNFM">Killed</label>
      <input type="checkbox" id="killedSNFM">
      <label for="skinnedSNFM">Skinned</label>
      <input type="checkbox" id="skinnedSNFM">
      <label for="studiedSNFM">Studied</label>
      <input type="checkbox" id="studiedSNFM">
      <label for="sedatedSNFM">Sedated</label>
      <input type="checkbox" id="sedatedSNFM">
      <label for="sampledSNFM">Sampled</label>
      <input type="checkbox" id="sampledSNFM">
      <label for="photoSNFM">Photo</label>
      <input type="checkbox" id="photoSNFM">
      <label for="soldSNFM">Garment made</label>
      <input type="checkbox" id="soldSNFM">
      <H1>__________________________________________</h1>
        
      <h2>SUN GATOR</h2><br>
      <label for="trackedSG">Tracked</label>
      <input type="checkbox" id="trackedSG">
      <label for="killedSG">Killed</label>
      <input type="checkbox" id="killedSG">
      <label for="skinnedSG">Skinned</label>
      <input type="checkbox" id="skinnedSG">
      <label for="studiedSG">Studied</label>
      <input type="checkbox" id="studiedSG">
      <label for="sedatedSG">Sedated</label>
      <input type="checkbox" id="sedatedSG">
      <label for="sampledSG">Sampled</label>
      <input type="checkbox" id="sampledSG">
      <label for="photoSG">Photo</label>
      <input type="checkbox" id="photoSG">
      <label for="soldSG">Garment made</label>
      <input type="checkbox" id="soldSG">
      <H1>__________________________________________</h1>

      <h2>TATANKA BISON</h2><br>
      <label for="trackedTB">Tracked</label>
      <input type="checkbox" id="trackedTB">
      <label for="killedTB">Killed</label>
      <input type="checkbox" id="killedTB">
      <label for="skinnedTB">Skinned</label>
      <input type="checkbox" id="skinnedTB">
      <label for="studiedTB">Studied</label>
      <input type="checkbox" id="studiedTB">
      <label for="sedatedTB">Sedated</label>
      <input type="checkbox" id="sedatedTB">
      <label for="sampledTB">Sampled</label>
      <input type="checkbox" id="sampledTB">
      <label for="photoTB">Photo</label>
      <input type="checkbox" id="photoTB">
      <label for="soldTB">Garment made</label>
      <input type="checkbox" id="soldTB">
      <H1>__________________________________________</h1>

      <h2>TECA GATOR</h2><br>
      <label for="trackedTG">Tracked</label>
      <input type="checkbox" id="trackedTG">
      <label for="killedTG">Killed</label>
      <input type="checkbox" id="killedTG">
      <label for="skinnedTG">Skinned</label>
      <input type="checkbox" id="skinnedTG">
      <label for="studiedTG">Studied</label>
      <input type="checkbox" id="studiedTG">
      <label for="sedatedTG">Sedated</label>
      <input type="checkbox" id="sedatedTG">
      <label for="sampledTG">Sampled</label>
      <input type="checkbox" id="sampledTG">
      <label for="photoTG">Photo</label>
      <input type="checkbox" id="photoTG">
      <label for="soldTG">Garment made</label>
      <input type="checkbox" id="soldTG"><br>
      <H1>__________________________________________</h1>  
          
      <h2>WAKPA BOAR</h2><br>
      <label for="trackedWB">Tracked</label>
      <input type="checkbox" id="trackedWB">
      <label for="killedWB">Killed</label>
      <input type="checkbox" id="killedWB">
      <label for="skinnedWB">Skinned</label>
      <input type="checkbox" id="skinnedWB">
      <label for="studiedWB">Studied</label>
      <input type="checkbox" id="studiedWB">
      <label for="sedatedWB">Sedated</label>
      <input type="checkbox" id="sedatedWB">
      <label for="sampledWB">Sampled</label>
      <input type="checkbox" id="sampledWB">
      <label for="photoWB">Photo</label>
      <input type="checkbox" id="photoWB">
      <label for="soldWB">Garment made</label>
      <input type="checkbox" id="soldWB">
      <H1>__________________________________________</h1>
                    
      <h2>WINYAN BISON</h2><br>
      <label for="trackedWYB">Tracked</label>
      <input type="checkbox" id="trackedWYB">
      <label for="killedWYB">Killed</label>
      <input type="checkbox" id="killedWYB">
      <label for="skinnedWYB">Skinned</label>
      <input type="checkbox" id="skinnedWYB">
      <label for="studiedWYB">Studied</label>
      <input type="checkbox" id="studiedWYB">
      <label for="sedatedWYB">Sedated</label>
      <input type="checkbox" id="sedatedWYB">
      <label for="sampledWYB">Sampled</label>
      <input type="checkbox" id="sampledWYB">
      <label for="photoWYB">Photo</label>
      <input type="checkbox" id="photoWYB">
      <label for="soldWYB">Garment made</label>
      <input type="checkbox" id="soldWYB">
      <H1>__________________________________________</h1>

       <h2>ZIZI BEAVER</h2><br>
      <label for="trackedZB">Tracked</label>
      <input type="checkbox" id="trackedZB">
      <label for="killedZB">Killed</label>
      <input type="checkbox" id="killedZB">
      <label for="skinnedZB">Skinned</label>
      <input type="checkbox" id="skinnedZB">
      <label for="studiedZB">Studied</label>
      <input type="checkbox" id="studiedZB">
      <label for="sedatedZB">Sedated</label>
      <input type="checkbox" id="sedatedZB">
      <label for="sampledZB">Sampled</label>
      <input type="checkbox" id="sampledZB">
      <label for="photoZB">Photo</label>
      <input type="checkbox" id="photoZB">
      <label for="soldZB">Garment made</label>
      <input type="checkbox" id="soldZB">
      <H1>__________________________________________</h1>
    
      </div>
    <br>
    <button>Check All</button>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>

</body>

</html>