<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav>
</head>

<body>
  <h1 align="center">Mountain and Grasslands Animals</h1>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container" align="center">
    <div>
      <h2>Rocky Mountain Bull Elk</h2><br>
      <label for="killedRMBE">Killed</label>
      <input type="checkbox" id="killedRMBE">
      <label for="SKINNEDRMBE">Skinned</label>
      <input type="checkbox" id="SKINNEDRMBE">
      <label for="STUDIEDRMBE">Studied</label>
      <input type="checkbox" id="STUDIEDRMBE">
      <label for="SEDATEDRMBE">Sedated</label>
      <input type="checkbox" id="SEDATEDRMBE">
      <label for="SAMPLEDRMBE">Sampled</label>
      <input type="checkbox" id="SAMPLEDRMBE">
      <label for="PHOTOGRAPHEDRMBE">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDRMBE">
      <label for="SoldRMBE">Sample Sold</label>
      <input type="checkbox" id="SoldRMBE">
      <H1>__________________________________________</h1>
      <h2>Rocky Mountain Cow Elk</h2><br>
      <label for="killedRMCE">Killed</label>
      <input type="checkbox" id="killedRMCE">
      <label for="SKINNEDRMCE">Skinned</label>
      <input type="checkbox" id="SKINNEDRMCE">
      <label for="STUDIEDRMCE">Studied</label>
      <input type="checkbox" id="STUDIEDRMCE">
      <label for="SEDATEDRMCE">Sedated</label>
      <input type="checkbox" id="SEDATEDRMCE">
      <label for="SAMPLEDRMCE">Sampled</label>
      <input type="checkbox" id="SAMPLEDRMCE">
      <label for="PHOTOGRAPHEDRMCE">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDRMCE">
      <label for="SoldRMCE">Sample Sold</label>
      <input type="checkbox" id="SoldRMCE">
      <H1>__________________________________________</h1>
      <h2>American Badger</h2><br>
      <label for="killedAMBG">Killed</label>
      <input type="checkbox" id="killedAMBG">
      <label for="SKINNEDAMBG">Skinned</label>
      <input type="checkbox" id="SKINNEDAMBG">
      <label for="STUDIEDAMBG">Studied</label>
      <input type="checkbox" id="STUDIEDAMBG">
      <label for="SEDATEDAMBG">Sedated</label>
      <input type="checkbox" id="SEDATEDAMBG">
      <label for="SAMPLEDAMBG">Sampled</label>
      <input type="checkbox" id="SAMPLEDAMBG">
      <label for="PHOTOGRAPHEDAMBG">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDAMBG">
      <label for="SoldAMBG">Sample Sold</label>
      <input type="checkbox" id="SoldAMBG">
      <H1>__________________________________________</h1>
      <h2>Gray Wolf</h2><br>
     <label for="killedGW">Killed</label>
     <input type="checkbox" id="killedGW">
     <label for="SKINNEDGW">Skinned</label>
     <input type="checkbox" id="SKINNEDGW">
     <label for="STUDIEDAGW">Studied</label>
     <input type="checkbox" id="STUDIEDAGW">
     <label for="SEDATEDGW">Sedated</label>
     <input type="checkbox" id="SEDATEDGW">
     <label for="SAMPLEDGW">Sampled</label>
     <input type="checkbox" id="SAMPLEDGW">
     <label for="PHOTOGRAPHEDGW">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDGW">
     <label for="SoldGW">Sample Sold</label>
     <input type="checkbox" id="SoldGW">
     <H1>__________________________________________</h1>
     <h2>Timber Wolf</h2><br>
     <label for="killedTW">Killed</label>
     <input type="checkbox" id="killedTW">
     <label for="SKINNEDTW">Skinned</label>
     <input type="checkbox" id="SKINNEDTW">
     <label for="STUDIEDTW">Studied</label>
     <input type="checkbox" id="STUDIEDTW">
     <label for="SEDATEDTW">Sedated</label>
     <input type="checkbox" id="SEDATEDTW">
     <label for="SAMPLEDTW">Sampled</label>
     <input type="checkbox" id="SAMPLEDTW">
     <label for="PHOTOGRAPHEDTW">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDTW">
     <label for="SoldTW">Sample Sold</label>
     <input type="checkbox" id="SoldTW">
     <H1>__________________________________________</h1>
     <h2>Rocky Mountain Bighorn Ram</h2><br>
     <label for="killedRMBR">Killed</label>
     <input type="checkbox" id="killedRMBR">
     <label for="SKINNEDRMBR">Skinned</label>
     <input type="checkbox" id="SKINNEDRMBR">
     <label for="STUDIEDRMBR">Studied</label>
     <input type="checkbox" id="STUDIEDRMBR">
     <label for="SEDATEDRMBR">Sedated</label>
     <input type="checkbox" id="SEDATEDRMBR">
     <label for="SAMPLEDRMBR">Sampled</label>
     <input type="checkbox" id="SAMPLEDRMBR">
     <label for="PHOTOGRAPHEDRMBR">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDRMBR">
     <label for="SoldRMBR">Sample Sold</label>
     <input type="checkbox" id="SoldRMBR">
     <H1>__________________________________________</h1>
     <h2>Rocky Mountain Bighorn Sheep</h2><br>
     <label for="killedRMBS">Killed</label>
     <input type="checkbox" id="killedRMBS">
     <label for="SKINNEDRMBS">Skinned</label>
     <input type="checkbox" id="SKINNEDRMBS">
     <label for="STUDIEDRMBS">Studied</label>
     <input type="checkbox" id="STUDIEDRMBS">
     <label for="SEDATEDRMBS">Sedated</label>
     <input type="checkbox" id="SEDATEDRMBS">
     <label for="SAMPLEDRMBS">Sampled</label>
     <input type="checkbox" id="SAMPLEDRMBS">
     <label for="PHOTOGRAPHEDRMBS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDRMBS">
     <label for="SoldRMBS">Sample Sold</label>
     <input type="checkbox" id="SoldRMBS">
     <H1>__________________________________________</h1>

     <h2>California Valley Coyote</h2><br>
     <label for="killedCVC">Killed</label>
     <input type="checkbox" id="killedCVC">
     <label for="SKINNEDCVC">Skinned</label>
     <input type="checkbox" id="SKINNEDCVC">
     <label for="STUDIEDCVC">Studied</label>
     <input type="checkbox" id="STUDIEDCVC">
     <label for="SEDATEDCVC">Sedated</label>
     <input type="checkbox" id="SEDATEDCVC">
     <label for="SAMPLEDCVC">Sampled</label>
     <input type="checkbox" id="SAMPLEDCVC">
     <label for="PHOTOGRAPHEDCVC">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDCVC">
     <label for="SoldCVC">Sample Sold</label>
     <input type="checkbox" id="SoldCVC">
     <H1>__________________________________________</h1>
     <h2>Whitetail Buck</h2><br>
     <label for="killedWB">Killed</label>
     <input type="checkbox" id="killedWB">
     <label for="SKINNEDWB">Skinned</label>
     <input type="checkbox" id="SKINNEDWB">
     <label for="STUDIEDWB">Studied</label>
     <input type="checkbox" id="STUDIEDWB">
     <label for="SEDATEDWB">Sedated</label>
     <input type="checkbox" id="SEDATEDWB">
     <label for="SAMPLEDWB">Sampled</label>
     <input type="checkbox" id="SAMPLEDWB">
     <label for="PHOTOGRAPHEDWB">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDWB">
     <label for="SoldWB">Sample Sold</label>
     <input type="checkbox" id="SoldWB">
     <H1>__________________________________________</h1>
     <h2>Whitetail Deer</h2><br>
     <label for="killedWWD">Killed</label>
     <input type="checkbox" id="killedWWD">
     <label for="SKINNEDWWD">Skinned</label>
     <input type="checkbox" id="SKINNEDWWD">
     <label for="STUDIEDWWD">Studied</label>
     <input type="checkbox" id="STUDIEDWWD">
     <label for="SEDATEDWWD">Sedated</label>
     <input type="checkbox" id="SEDATEDWWD">
     <label for="SAMPLEDWWD">Sampled</label>
     <input type="checkbox" id="SAMPLEDWWD">
     <label for="PHOTOGRAPHEDWWD">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDWWD">
     <label for="SoldWWD">Sample Sold</label>
     <input type="checkbox" id="SoldWWD">
     <H1>__________________________________________</h1>
     <h2>Wild Boar</h2><br>
     <label for="killedWIB">Killed</label>
     <input type="checkbox" id="killedWIB">
     <label for="SKINNEDWIB">Skinned</label>
     <input type="checkbox" id="SKINNEDWIB">
     <label for="STUDIEDWIB">Studied</label>
     <input type="checkbox" id="STUDIEDWIB">
     <label for="SEDATEDWIB">Sedated</label>
     <input type="checkbox" id="SEDATEDWIB">
     <label for="SAMPLEDWIB">Sampled</label>
     <input type="checkbox" id="SAMPLEDWIB">
     <label for="PHOTOGRAPHEDWIB">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDWIB">
     <label for="SoldWIB">Sample Sold</label>
     <input type="checkbox" id="SoldWIB">
     <H1>__________________________________________</h1>
     <h2>American Bison</h2><br>
     <label for="killedBIS">Killed</label>
     <input type="checkbox" id="killedBIS">
     <label for="SKINNEDBIS">Skinned</label>
     <input type="checkbox" id="SKINNEDBIS">
     <label for="STUDIEDBIS">Studied</label>
     <input type="checkbox" id="STUDIEDBIS">
     <label for="SEDATEDBIS">Sedated</label>
     <input type="checkbox" id="SEDATEDBIS">
     <label for="SAMPLEDBIS">Sampled</label>
     <input type="checkbox" id="SAMPLEDBIS">
     <label for="PHOTOGRAPHEDBIS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDBIS">
     <label for="SoldBIS">Sample Sold</label>
     <input type="checkbox" id="SoldBIS">
     <H1>__________________________________________</h1>
     <h2>American Pronghorn Buck</h2><br>
     <label for="killedAPB">Killed</label>
    <input type="checkbox" id="killedAPB">
    <label for="SKINNEDAPB">Skinned</label>
    <input type="checkbox" id="SKINNEDAPB">
    <label for="STUDIEDAPB">Studied</label>
    <input type="checkbox" id="STUDIEDAPB">
    <label for="SEDATEDAPB">Sedated</label>
    <input type="checkbox" id="SEDATEDAPB">
    <label for="SAMPLEDAPB">Sampled</label>
    <input type="checkbox" id="SAMPLEDAPB">
    <label for="PHOTOGRAPHEDAPB">Photographed</label>
    <input type="checkbox" id="PHOTOGRAPHEDAPB">
    <label for="SoldAPB">Sample Sold</label>
    <input type="checkbox" id="SoldAPB">
    <H1>__________________________________________</h1>
    <h2>American Pronghorn Doe</h2><br>
    <label for="killedAPD">Killed</label>
    <input type="checkbox" id="killedAPD">
    <label for="SKINNEDAPD">Skinned</label>
    <input type="checkbox" id="SKINNEDAPD">
    <label for="STUDIEDAPD">Studied</label>
    <input type="checkbox" id="STUDIEDAPD">
    <label for="SEDATEDAPD">Sedated</label>
    <input type="checkbox" id="SEDATEDAPD">
    <label for="SAMPLEDAPD">Sampled</label>
    <input type="checkbox" id="SAMPLEDAPD">
    <label for="PHOTOGRAPHEDAPD">Photographed</label>
    <input type="checkbox" id="PHOTOGRAPHEDAPD">
    <label for="SoldAPD">Sample Sold</label>
    <input type="checkbox" id="SoldAPD">
    <H1>__________________________________________</h1>

    </div>
    <br>
    <button>Check All</button>
  </div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>

</html>