<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Necklaces</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Blackley Miniature Necklace</h2>
    <input type="checkbox" id="blackleyminiatuenecasfasf1">
    <input type="checkbox" id="blackleyminiatuenecasfasf2">
    <input type="checkbox" id="blackleyminiatuenecasfasf13">
    <input type="checkbox" id="blackleyminiatuenecasfasf14">
    <input type="checkbox" id="blackleyminiatuenecasfasf15">
    <input type="checkbox" id="blackleyminiatuenecasfasf16">
    <input type="checkbox" id="blackleyminiatuenecasfasf17">
    <input type="checkbox" id="blackleyminiatuenecasfasf18">
    <input type="checkbox" id="blackleyminiatuenecasfasf19">
    <input type="checkbox" id="blackleyminiatuenecasfasf10">
  </div>
  <div>
    <h2>Richelieu Amethyst Necklace</h2>
    <input type="checkbox" id="richeliweurasfneiniee1">
    <input type="checkbox" id="richeliweurasfneiniee2">
    <input type="checkbox" id="richeliweurasfneiniee3">
    <input type="checkbox" id="richeliweurasfneiniee4">
    <input type="checkbox" id="richeliweurasfneiniee5">
    <input type="checkbox" id="richeliweurasfneiniee6">
    <input type="checkbox" id="richeliweurasfneiniee7">
    <input type="checkbox" id="richeliweurasfneiniee8">
    <input type="checkbox" id="richeliweurasfneiniee9">
    <input type="checkbox" id="richeliweurasfneiniee10">
  </div>
  <div>
    <h2>Pelle Pearl Necklace</h2>
    <input type="checkbox" id="pellepearlnecklacesred1">
    <input type="checkbox" id="pellepearlnecklacesred2">
    <input type="checkbox" id="pellepearlnecklacesred3">
    <input type="checkbox" id="pellepearlnecklacesred4">
    <input type="checkbox" id="pellepearlnecklacesred5">
    <input type="checkbox" id="pellepearlnecklacesred6">
    <input type="checkbox" id="pellepearlnecklacesred7">
    <input type="checkbox" id="pellepearlnecklacesred8">
    <input type="checkbox" id="pellepearlnecklacesred9">
    <input type="checkbox" id="pellepearlnecklacesred10">
  </div>
  <div>
    <h2>Ainsworth Cross Necklace</h2>
    <input type="checkbox" id="ainsworthcrossneckse1">
    <input type="checkbox" id="ainsworthcrossneckse2">
    <input type="checkbox" id="ainsworthcrossneckse3">
    <input type="checkbox" id="ainsworthcrossneckse4">
    <input type="checkbox" id="ainsworthcrossneckse5">
    <input type="checkbox" id="ainsworthcrossneckse6">
    <input type="checkbox" id="ainsworthcrossneckse7">
    <input type="checkbox" id="ainsworthcrossneckse8">
    <input type="checkbox" id="ainsworthcrossneckse9">
    <input type="checkbox" id="ainsworthcrossneckse10">
  </div>
  <div>
    <h2>Braxton Amethyst Necklace</h2>
    <input type="checkbox" id="braxtonamethystseran1">
    <input type="checkbox" id="braxtonamethystseran2">
    <input type="checkbox" id="braxtonamethystseran3">
    <input type="checkbox" id="braxtonamethystseran4">
    <input type="checkbox" id="braxtonamethystseran5">
    <input type="checkbox" id="braxtonamethystseran6">
    <input type="checkbox" id="braxtonamethystseran7">
    <input type="checkbox" id="braxtonamethystseran8">
    <input type="checkbox" id="braxtonamethystseran9">
    <input type="checkbox" id="braxtonamethystseran10">
  </div>
  <div>
    <h2>Rou Earl Necklace</h2>
    <input type="checkbox" id="frouearllllsenvenae1">
    <input type="checkbox" id="frouearllllsenvenae2">
    <input type="checkbox" id="frouearllllsenvenae13">
    <input type="checkbox" id="frouearllllsenvenae14">
    <input type="checkbox" id="frouearllllsenvenae15">
    <input type="checkbox" id="frouearllllsenvenae16">
    <input type="checkbox" id="frouearllllsenvenae17">
    <input type="checkbox" id="frouearllllsenvenae18">
    <input type="checkbox" id="frouearllllsenvenae9">
    <input type="checkbox" id="frouearllllsenvenae10">
  </div>
  <div>
    <h2>Gosselin White Gold Necklace</h2>
    <input type="checkbox" id="gossellinwhitwse1">
    <input type="checkbox" id="gossellinwhitwse2">
    <input type="checkbox" id="gossellinwhitwse3">
    <input type="checkbox" id="gossellinwhitwse4">
    <input type="checkbox" id="gossellinwhitwse5">
    <input type="checkbox" id="gossellinwhitwse6">
    <input type="checkbox" id="gossellinwhitwse7">
    <input type="checkbox" id="gossellinwhitwse8">
    <input type="checkbox" id="gossellinwhitwse9">
    <input type="checkbox" id="gossellinwhitwse10">
  </div>
  <div>
    <h2>Dane Topaz Necklace</h2>
    <input type="checkbox" id="danetopazsfeniwubg1">
    <input type="checkbox" id="danetopazsfeniwubg12">
    <input type="checkbox" id="danetopazsfeniwubg13">
    <input type="checkbox" id="danetopazsfeniwubg14">
    <input type="checkbox" id="danetopazsfeniwubg15">
    <input type="checkbox" id="danetopazsfeniwubg16">
    <input type="checkbox" id="danetopazsfeniwubg17">
    <input type="checkbox" id="danetopazsfeniwubg18">
    <input type="checkbox" id="danetopazsfeniwubg19">
    <input type="checkbox" id="danetopazsfeniwubg10">
  </div>
  <div>
    <h2>Tuamotu Pearl Necklace</h2>
    <input type="checkbox" id="taummotuescpealsnekk1">
    <input type="checkbox" id="taummotuescpealsnekk2">
    <input type="checkbox" id="taummotuescpealsnekk3">
    <input type="checkbox" id="taummotuescpealsnekk4">
    <input type="checkbox" id="taummotuescpealsnekk5">
    <input type="checkbox" id="taummotuescpealsnekk6">
    <input type="checkbox" id="taummotuescpealsnekk7">
    <input type="checkbox" id="taummotuescpealsnekk8">
    <input type="checkbox" id="taummotuescpealsnekk9">
    <input type="checkbox" id="taummotuescpealsnekk10">
  </div>
  
  <div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>