<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Pentacles</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Ace of Pentacles</h2>
    <input type="checkbox" id="aceofPentacles1">
    <input type="checkbox" id="aceofPentacles2">
    <input type="checkbox" id="aceofPentacles13">
    <input type="checkbox" id="aceofPentacles14">
    <input type="checkbox" id="aceofPentacles15">
    <input type="checkbox" id="aceofPentacles16">
    <input type="checkbox" id="aceofPentacles17">
    <input type="checkbox" id="aceofPentacles18">
    <input type="checkbox" id="aceofPentacles19">
    <input type="checkbox" id="aceofPentacles10">
  </div>
  <div>
    <h2>Two of Pentacles</h2>
    <input type="checkbox" id="twoofPentacles1">
    <input type="checkbox" id="twoofPentacles2">
    <input type="checkbox" id="twoofPentacles3">
    <input type="checkbox" id="twoofPentacles4">
    <input type="checkbox" id="twoofPentacles5">
    <input type="checkbox" id="twoofPentacles6">
    <input type="checkbox" id="twoofPentacles7">
    <input type="checkbox" id="twoofPentacles8">
    <input type="checkbox" id="twoofPentacles9">
    <input type="checkbox" id="twoofPentacles10">
  </div>
  <div>
    <h2>Three of Pentacles</h2>
    <input type="checkbox" id="threeofPentacles1">
    <input type="checkbox" id="threeofPentacles2">
    <input type="checkbox" id="threeofPentacles3">
    <input type="checkbox" id="threeofPentacles4">
    <input type="checkbox" id="threeofPentacles5">
    <input type="checkbox" id="threeofPentacles6">
    <input type="checkbox" id="threeofPentacles7">
    <input type="checkbox" id="threeofPentacles8">
    <input type="checkbox" id="threeofPentacles9">
    <input type="checkbox" id="threeofPentacles10">
  </div>
  <div>
    <h2>Four of Pentacles</h2>
    <input type="checkbox" id="fourofPentacles1">
    <input type="checkbox" id="fourofPentacles2">
    <input type="checkbox" id="fourofPentacles3">
    <input type="checkbox" id="fourofPentacles4">
    <input type="checkbox" id="fourofPentacles5">
    <input type="checkbox" id="fourofPentacles6">
    <input type="checkbox" id="fourofPentacles7">
    <input type="checkbox" id="fourofPentacles8">
    <input type="checkbox" id="fourofPentacles9">
    <input type="checkbox" id="fourofPentacles10">
  </div>
  <div>
    <h2>Five of Pentacles</h2>
    <input type="checkbox" id="fiveofPentacles1">
    <input type="checkbox" id="fiveofPentacles2">
    <input type="checkbox" id="fiveofPentacles3">
    <input type="checkbox" id="fiveofPentacles4">
    <input type="checkbox" id="fiveofPentacles5">
    <input type="checkbox" id="fiveofPentacles6">
    <input type="checkbox" id="fiveofPentacles7">
    <input type="checkbox" id="fiveofPentacles8">
    <input type="checkbox" id="fiveofPentacles9">
    <input type="checkbox" id="fiveofPentacles10">
  </div>
  <div>
    <h2>Six of Pentacles</h2>
    <input type="checkbox" id="sixofPentacles1">
    <input type="checkbox" id="sixofPentacles2">
    <input type="checkbox" id="sixofPentacles13">
    <input type="checkbox" id="sixofPentacles14">
    <input type="checkbox" id="sixofPentacles15">
    <input type="checkbox" id="sixofPentacles16">
    <input type="checkbox" id="sixofPentacles17">
    <input type="checkbox" id="sixofPentacles18">
    <input type="checkbox" id="sixofPentacles9">
    <input type="checkbox" id="sixofPentacles10">
  </div>
  <div>
    <h2>Seven of Pentacles</h2>
    <input type="checkbox" id="sevenofPentacles1">
    <input type="checkbox" id="sevenofPentacles2">
    <input type="checkbox" id="sevenofPentacles3">
    <input type="checkbox" id="sevenofPentacles4">
    <input type="checkbox" id="sevenofPentacles5">
    <input type="checkbox" id="sevenofPentacles6">
    <input type="checkbox" id="sevenofPentacles7">
    <input type="checkbox" id="sevenofPentacles8">
    <input type="checkbox" id="sevenofPentacles9">
    <input type="checkbox" id="sevenofPentacles10">
  </div>
  <div>
    <h2>Eight of Pentacles</h2>
    <input type="checkbox" id="eightofPentacles1">
    <input type="checkbox" id="eightofPentacles12">
    <input type="checkbox" id="eightofPentacles13">
    <input type="checkbox" id="eightofPentacles14">
    <input type="checkbox" id="eightofPentacles15">
    <input type="checkbox" id="eightofPentacles16">
    <input type="checkbox" id="eightofPentacles17">
    <input type="checkbox" id="eightofPentacles18">
    <input type="checkbox" id="eightofPentacles19">
    <input type="checkbox" id="eightofPentacles10">
  </div>
  <div>
    <h2>Nine of Pentacles</h2>
    <input type="checkbox" id="nineofPentacles1">
    <input type="checkbox" id="nineofPentacles2">
    <input type="checkbox" id="nineofPentacles3">
    <input type="checkbox" id="nineofPentacles4">
    <input type="checkbox" id="nineofPentacles5">
    <input type="checkbox" id="nineofPentacles6">
    <input type="checkbox" id="nineofPentacles7">
    <input type="checkbox" id="nineofPentacles8">
    <input type="checkbox" id="nineofPentacles9">
    <input type="checkbox" id="nineofPentacles10">
  </div>
  <div>
    <h2>Ten of Pentacles</h2>
    <input type="checkbox" id="tenofPentacles1">
    <input type="checkbox" id="tenofPentacles2">
    <input type="checkbox" id="tenofPentacles13">
    <input type="checkbox" id="tenofPentacles14">
    <input type="checkbox" id="tenofPentacles15">
    <input type="checkbox" id="tenofPentacles16">
    <input type="checkbox" id="tenofPentacles17">
    <input type="checkbox" id="tenofPentacles18">
    <input type="checkbox" id="tenofPentacles19">
    <input type="checkbox" id="tenofPentacles10">
  </div>
  <div>
    <h2>Knight of Pentacles</h2>
    <input type="checkbox" id="knightofPentacles1">
    <input type="checkbox" id="knightofPentacles2">
    <input type="checkbox" id="knightofPentacles3">
    <input type="checkbox" id="knightofPentacles4">
    <input type="checkbox" id="knightofPentacles5">
    <input type="checkbox" id="knightofPentacles6">
    <input type="checkbox" id="knightofPentacles7">
    <input type="checkbox" id="knightofPentacles8">
    <input type="checkbox" id="knightofPentacles9">
    <input type="checkbox" id="knightofPentacles10">
  </div>
  <div>
    <h2>Page of Pentacles</h2>
    <input type="checkbox" id="pageofPentacles1">
    <input type="checkbox" id="pageofPentacles2">
    <input type="checkbox" id="pageofPentacles3">
    <input type="checkbox" id="pageofPentacles4">
    <input type="checkbox" id="pageofPentacles5">
    <input type="checkbox" id="pageofPentacles6">
    <input type="checkbox" id="pageofPentacles7">
    <input type="checkbox" id="pageofPentacles8">
    <input type="checkbox" id="pageofPentacles9">
    <input type="checkbox" id="pageofPentacles10">
  </div>
  <div>
    <h2>Queen of Pentacles</h2>
    <input type="checkbox" id="queenofPentacles1">
    <input type="checkbox" id="queenofPentacles2">
    <input type="checkbox" id="queenofPentacles3">
    <input type="checkbox" id="queenofPentacles4">
    <input type="checkbox" id="queenofPentacles5">
    <input type="checkbox" id="queenofPentacles6">
    <input type="checkbox" id="queenofPentacles7">
    <input type="checkbox" id="queenofPentacles8">
    <input type="checkbox" id="queenofPentacles9">
    <input type="checkbox" id="queenofPentacles10">
  </div>
  <div>
    <h2>King of Pentacles</h2>
    <input type="checkbox" id="kingofPentacles1">
    <input type="checkbox" id="kingofPentacles2">
    <input type="checkbox" id="kingofPentacles3">
    <input type="checkbox" id="kingofPentacles4">
    <input type="checkbox" id="kingofPentacles5">
    <input type="checkbox" id="kingofPentacles6">
    <input type="checkbox" id="kingofPentacles7">
    <input type="checkbox" id="kingofPentacles8">
    <input type="checkbox" id="kingofPentacles9">
    <input type="checkbox" id="kingofPentacles10">
  </div>
  
  <div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>