<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Rings</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Harland Coral</h2>
    <input type="checkbox" id="harlandcoralsse1">
    <input type="checkbox" id="harlandcoralsse2">
    <input type="checkbox" id="harlandcoralsse13">
    <input type="checkbox" id="harlandcoralsse14">
    <input type="checkbox" id="harlandcoralsse15">
    <input type="checkbox" id="harlandcoralsse16">
    <input type="checkbox" id="harlandcoralsse17">
    <input type="checkbox" id="harlandcoralsse18">
    <input type="checkbox" id="harlandcoralsse19">
    <input type="checkbox" id="harlandcoralsse10">
  </div>
  <div>
    <h2>Magnate Turquoise Ring</h2>
    <input type="checkbox" id="magnnnattteeeturqseio1">
    <input type="checkbox" id="magnnnattteeeturqseio2">
    <input type="checkbox" id="magnnnattteeeturqseio3">
    <input type="checkbox" id="magnnnattteeeturqseio4">
    <input type="checkbox" id="magnnnattteeeturqseio5">
    <input type="checkbox" id="magnnnattteeeturqseio6">
    <input type="checkbox" id="magnnnattteeeturqseio7">
    <input type="checkbox" id="magnnnattteeeturqseio8">
    <input type="checkbox" id="magnnnattteeeturqseio9">
    <input type="checkbox" id="magnnnattteeeturqseio10">
  </div>
  <div>
    <h2>Pilgrim Moonstone Ring</h2>
    <input type="checkbox" id="pilllgrrriiim1">
    <input type="checkbox" id="pilllgrrriiim2">
    <input type="checkbox" id="pilllgrrriiim3">
    <input type="checkbox" id="pilllgrrriiim4">
    <input type="checkbox" id="pilllgrrriiim5">
    <input type="checkbox" id="pilllgrrriiim6">
    <input type="checkbox" id="pilllgrrriiim7">
    <input type="checkbox" id="pilllgrrriiim8">
    <input type="checkbox" id="pilllgrrriiim9">
    <input type="checkbox" id="pilllgrrriiim10">
  </div>
  <div>
    <h2>Bonnard Pearl Ring</h2>
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn1">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn2">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn3">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn4">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn5">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn6">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn7">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn8">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn9">
    <input type="checkbox" id="bonnnnnnnnnnnnnnnprrn10">
  </div>
  <div>
    <h2>Banais Topaz Ring</h2>
    <input type="checkbox" id="bnssiii1">
    <input type="checkbox" id="bnssiii2">
    <input type="checkbox" id="bnssiii3">
    <input type="checkbox" id="bnssiii4">
    <input type="checkbox" id="bnssiii5">
    <input type="checkbox" id="bnssiii6">
    <input type="checkbox" id="bnssiii7">
    <input type="checkbox" id="bnssiii8">
    <input type="checkbox" id="bnssiii9">
    <input type="checkbox" id="bnssiii10">
  </div>
  <div>
    <h2>Beaulieux Ring</h2>
    <input type="checkbox" id="bxliex1">
    <input type="checkbox" id="bxliex2">
    <input type="checkbox" id="bxliex13">
    <input type="checkbox" id="bxliex14">
    <input type="checkbox" id="bxliex15">
    <input type="checkbox" id="bxliex16">
    <input type="checkbox" id="bxliex17">
    <input type="checkbox" id="bxliex18">
    <input type="checkbox" id="bxliex9">
    <input type="checkbox" id="bxliex10">
  </div>
  <div>
    <h2>Yates Diamond Ring</h2>
    <input type="checkbox" id="ytsssdmndsase1">
    <input type="checkbox" id="ytsssdmndsase2">
    <input type="checkbox" id="ytsssdmndsase3">
    <input type="checkbox" id="ytsssdmndsase4">
    <input type="checkbox" id="ytsssdmndsase5">
    <input type="checkbox" id="ytsssdmndsase6">
    <input type="checkbox" id="ytsssdmndsase7">
    <input type="checkbox" id="ytsssdmndsase8">
    <input type="checkbox" id="ytsssdmndsase9">
    <input type="checkbox" id="ytsssdmndsase10">
  </div>
  <div>
    <h2>Aubrey Onyx Ring</h2>
    <input type="checkbox" id="abboooxxxx1">
    <input type="checkbox" id="abboooxxxx2">
    <input type="checkbox" id="abboooxxxx3">
    <input type="checkbox" id="abboooxxxx4">
    <input type="checkbox" id="abboooxxxx5">
    <input type="checkbox" id="abboooxxxx6">
    <input type="checkbox" id="abboooxxxx7">
    <input type="checkbox" id="abboooxxxx8">
    <input type="checkbox" id="abboooxxxx9">
    <input type="checkbox" id="abboooxxxx10">
  </div>
  <div>
    <h2>Bosque Emerald Ring</h2>
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb1">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb2">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb13">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb14">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb15">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb16">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb17">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb18">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb19">
    <input type="checkbox" id="bsqqqqqeerrrllllbbbb10">
  </div>
  <div>
    <h2>Sackville Diamond Ring</h2>
    <input type="checkbox" id="svilledmndsville1">
    <input type="checkbox" id="svilledmndsville2">
    <input type="checkbox" id="svilledmndsville3">
    <input type="checkbox" id="svilledmndsville4">
    <input type="checkbox" id="svilledmndsville5">
    <input type="checkbox" id="svilledmndsville6">
    <input type="checkbox" id="svilledmndsville7">
    <input type="checkbox" id="svilledmndsville8">
    <input type="checkbox" id="svilledmndsville9">
    <input type="checkbox" id="svilledmndsville10">
  </div>
  <div>
    <h2>Thorburn Turquoise Ring</h2>
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse1">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse2">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse3">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse4">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse5">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse6">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse7">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse8">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse9">
    <input type="checkbox" id="ttttttqqqqqqhhhhhfse10">
  </div>
  
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>