<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Swords</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Ace of Swords</h2>
    <input type="checkbox" id="aceofSwords1">
    <input type="checkbox" id="aceofSwords2">
    <input type="checkbox" id="aceofSwords13">
    <input type="checkbox" id="aceofSwords14">
    <input type="checkbox" id="aceofSwords15">
    <input type="checkbox" id="aceofSwords16">
    <input type="checkbox" id="aceofSwords17">
    <input type="checkbox" id="aceofSwords18">
    <input type="checkbox" id="aceofSwords19">
    <input type="checkbox" id="aceofSwords10">
  </div>
  <div>
    <h2>Two of Swords</h2>
    <input type="checkbox" id="twoofSwords1">
    <input type="checkbox" id="twoofSwords2">
    <input type="checkbox" id="twoofSwords3">
    <input type="checkbox" id="twoofSwords4">
    <input type="checkbox" id="twoofSwords5">
    <input type="checkbox" id="twoofSwords6">
    <input type="checkbox" id="twoofSwords7">
    <input type="checkbox" id="twoofSwords8">
    <input type="checkbox" id="twoofSwords9">
    <input type="checkbox" id="twoofSwords10">
  </div>
  <div>
    <h2>Three of Swords</h2>
    <input type="checkbox" id="threeofSwords1">
    <input type="checkbox" id="threeofSwords2">
    <input type="checkbox" id="threeofSwords3">
    <input type="checkbox" id="threeofSwords4">
    <input type="checkbox" id="threeofSwords5">
    <input type="checkbox" id="threeofSwords6">
    <input type="checkbox" id="threeofSwords7">
    <input type="checkbox" id="threeofSwords8">
    <input type="checkbox" id="threeofSwords9">
    <input type="checkbox" id="threeofSwords10">
  </div>
  <div>
    <h2>Four of Swords</h2>
    <input type="checkbox" id="fourofSwords1">
    <input type="checkbox" id="fourofSwords2">
    <input type="checkbox" id="fourofSwords3">
    <input type="checkbox" id="fourofSwords4">
    <input type="checkbox" id="fourofSwords5">
    <input type="checkbox" id="fourofSwords6">
    <input type="checkbox" id="fourofSwords7">
    <input type="checkbox" id="fourofSwords8">
    <input type="checkbox" id="fourofSwords9">
    <input type="checkbox" id="fourofSwords10">
  </div>
  <div>
    <h2>Five of Swords</h2>
    <input type="checkbox" id="fiveofSwords1">
    <input type="checkbox" id="fiveofSwords2">
    <input type="checkbox" id="fiveofSwords3">
    <input type="checkbox" id="fiveofSwords4">
    <input type="checkbox" id="fiveofSwords5">
    <input type="checkbox" id="fiveofSwords6">
    <input type="checkbox" id="fiveofSwords7">
    <input type="checkbox" id="fiveofSwords8">
    <input type="checkbox" id="fiveofSwords9">
    <input type="checkbox" id="fiveofSwords10">
  </div>
  <div>
    <h2>Six of Swords</h2>
    <input type="checkbox" id="sixofSwords1">
    <input type="checkbox" id="sixofSwords2">
    <input type="checkbox" id="sixofSwords13">
    <input type="checkbox" id="sixofSwords14">
    <input type="checkbox" id="sixofSwords15">
    <input type="checkbox" id="sixofSwords16">
    <input type="checkbox" id="sixofSwords17">
    <input type="checkbox" id="sixofSwords18">
    <input type="checkbox" id="sixofSwords9">
    <input type="checkbox" id="sixofSwords10">
  </div>
  <div>
    <h2>Seven of Swords</h2>
    <input type="checkbox" id="sevenofSwords1">
    <input type="checkbox" id="sevenofSwords2">
    <input type="checkbox" id="sevenofSwords3">
    <input type="checkbox" id="sevenofSwords4">
    <input type="checkbox" id="sevenofSwords5">
    <input type="checkbox" id="sevenofSwords6">
    <input type="checkbox" id="sevenofSwords7">
    <input type="checkbox" id="sevenofSwords8">
    <input type="checkbox" id="sevenofSwords9">
    <input type="checkbox" id="sevenofSwords10">
  </div>
  <div>
    <h2>Eight of Swords</h2>
    <input type="checkbox" id="eightofSwords1">
    <input type="checkbox" id="eightofSwords12">
    <input type="checkbox" id="eightofSwords13">
    <input type="checkbox" id="eightofSwords14">
    <input type="checkbox" id="eightofSwords15">
    <input type="checkbox" id="eightofSwords16">
    <input type="checkbox" id="eightofSwords17">
    <input type="checkbox" id="eightofSwords18">
    <input type="checkbox" id="eightofSwords19">
    <input type="checkbox" id="eightofSwords10">
  </div>
  <div>
    <h2>Nine of Swords</h2>
    <input type="checkbox" id="nineofSwords1">
    <input type="checkbox" id="nineofSwords2">
    <input type="checkbox" id="nineofSwords3">
    <input type="checkbox" id="nineofSwords4">
    <input type="checkbox" id="nineofSwords5">
    <input type="checkbox" id="nineofSwords6">
    <input type="checkbox" id="nineofSwords7">
    <input type="checkbox" id="nineofSwords8">
    <input type="checkbox" id="nineofSwords9">
    <input type="checkbox" id="nineofSwords10">
  </div>
  <div>
    <h2>Ten of Swords</h2>
    <input type="checkbox" id="tenofSwords1">
    <input type="checkbox" id="tenofSwords2">
    <input type="checkbox" id="tenofSwords13">
    <input type="checkbox" id="tenofSwords14">
    <input type="checkbox" id="tenofSwords15">
    <input type="checkbox" id="tenofSwords16">
    <input type="checkbox" id="tenofSwords17">
    <input type="checkbox" id="tenofSwords18">
    <input type="checkbox" id="tenofSwords19">
    <input type="checkbox" id="tenofSwords10">
  </div>
  <div>
    <h2>Knight of Swords</h2>
    <input type="checkbox" id="knightofSwords1">
    <input type="checkbox" id="knightofSwords2">
    <input type="checkbox" id="knightofSwords3">
    <input type="checkbox" id="knightofSwords4">
    <input type="checkbox" id="knightofSwords5">
    <input type="checkbox" id="knightofSwords6">
    <input type="checkbox" id="knightofSwords7">
    <input type="checkbox" id="knightofSwords8">
    <input type="checkbox" id="knightofSwords9">
    <input type="checkbox" id="knightofSwords10">
  </div>
  <div>
    <h2>Page of Swords</h2>
    <input type="checkbox" id="pageofSwords1">
    <input type="checkbox" id="pageofSwords2">
    <input type="checkbox" id="pageofSwords3">
    <input type="checkbox" id="pageofSwords4">
    <input type="checkbox" id="pageofSwords5">
    <input type="checkbox" id="pageofSwords6">
    <input type="checkbox" id="pageofSwords7">
    <input type="checkbox" id="pageofSwords8">
    <input type="checkbox" id="pageofSwords9">
    <input type="checkbox" id="pageofSwords10">
  </div>
  <div>
    <h2>Queen of Swords</h2>
    <input type="checkbox" id="queenofSwords1">
    <input type="checkbox" id="queenofSwords2">
    <input type="checkbox" id="queenofSwords3">
    <input type="checkbox" id="queenofSwords4">
    <input type="checkbox" id="queenofSwords5">
    <input type="checkbox" id="queenofSwords6">
    <input type="checkbox" id="queenofSwords7">
    <input type="checkbox" id="queenofSwords8">
    <input type="checkbox" id="queenofSwords9">
    <input type="checkbox" id="queenofSwords10">
  </div>
  <div>
    <h2>King of Swords</h2>
    <input type="checkbox" id="kingofSwords1">
    <input type="checkbox" id="kingofSwords2">
    <input type="checkbox" id="kingofSwords3">
    <input type="checkbox" id="kingofSwords4">
    <input type="checkbox" id="kingofSwords5">
    <input type="checkbox" id="kingofSwords6">
    <input type="checkbox" id="kingofSwords7">
    <input type="checkbox" id="kingofSwords8">
    <input type="checkbox" id="kingofSwords9">
    <input type="checkbox" id="kingofSwords10">
  </div>
  
  <div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>