<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">Cups</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Ace of Cups</h2>
    <input type="checkbox" id="aceofcups1">
    <input type="checkbox" id="aceofcups2">
    <input type="checkbox" id="aceofcups13">
    <input type="checkbox" id="aceofcups14">
    <input type="checkbox" id="aceofcups15">
    <input type="checkbox" id="aceofcups16">
    <input type="checkbox" id="aceofcups17">
    <input type="checkbox" id="aceofcups18">
    <input type="checkbox" id="aceofcups19">
    <input type="checkbox" id="aceofcups10">
  </div>
  <div>
    <h2>Two of Cups</h2>
    <input type="checkbox" id="twoofcups1">
    <input type="checkbox" id="twoofcups2">
    <input type="checkbox" id="twoofcups3">
    <input type="checkbox" id="twoofcups4">
    <input type="checkbox" id="twoofcups5">
    <input type="checkbox" id="twoofcups6">
    <input type="checkbox" id="twoofcups7">
    <input type="checkbox" id="twoofcups8">
    <input type="checkbox" id="twoofcups9">
    <input type="checkbox" id="twoofcups10">
  </div>
  <div>
    <h2>Three of Cups</h2>
    <input type="checkbox" id="threeofcups1">
    <input type="checkbox" id="threeofcups2">
    <input type="checkbox" id="threeofcups3">
    <input type="checkbox" id="threeofcups4">
    <input type="checkbox" id="threeofcups5">
    <input type="checkbox" id="threeofcups6">
    <input type="checkbox" id="threeofcups7">
    <input type="checkbox" id="threeofcups8">
    <input type="checkbox" id="threeofcups9">
    <input type="checkbox" id="threeofcups10">
  </div>
  <div>
    <h2>Four of Cups</h2>
    <input type="checkbox" id="fourofcups1">
    <input type="checkbox" id="fourofcups2">
    <input type="checkbox" id="fourofcups3">
    <input type="checkbox" id="fourofcups4">
    <input type="checkbox" id="fourofcups5">
    <input type="checkbox" id="fourofcups6">
    <input type="checkbox" id="fourofcups7">
    <input type="checkbox" id="fourofcups8">
    <input type="checkbox" id="fourofcups9">
    <input type="checkbox" id="fourofcups10">
  </div>
  <div>
    <h2>Five of Cups</h2>
    <input type="checkbox" id="fiveofcups1">
    <input type="checkbox" id="fiveofcups2">
    <input type="checkbox" id="fiveofcups3">
    <input type="checkbox" id="fiveofcups4">
    <input type="checkbox" id="fiveofcups5">
    <input type="checkbox" id="fiveofcups6">
    <input type="checkbox" id="fiveofcups7">
    <input type="checkbox" id="fiveofcups8">
    <input type="checkbox" id="fiveofcups9">
    <input type="checkbox" id="fiveofcups10">
  </div>
  <div>
    <h2>Six of Cups</h2>
    <input type="checkbox" id="sixofcups1">
    <input type="checkbox" id="sixofcups2">
    <input type="checkbox" id="sixofcups13">
    <input type="checkbox" id="sixofcups14">
    <input type="checkbox" id="sixofcups15">
    <input type="checkbox" id="sixofcups16">
    <input type="checkbox" id="sixofcups17">
    <input type="checkbox" id="sixofcups18">
    <input type="checkbox" id="sixofcups9">
    <input type="checkbox" id="sixofcups10">
  </div>
  <div>
    <h2>Seven of Cups</h2>
    <input type="checkbox" id="sevenofcups1">
    <input type="checkbox" id="sevenofcups2">
    <input type="checkbox" id="sevenofcups3">
    <input type="checkbox" id="sevenofcups4">
    <input type="checkbox" id="sevenofcups5">
    <input type="checkbox" id="sevenofcups6">
    <input type="checkbox" id="sevenofcups7">
    <input type="checkbox" id="sevenofcups8">
    <input type="checkbox" id="sevenofcups9">
    <input type="checkbox" id="sevenofcups10">
  </div>
  <div>
    <h2>Eight of Cups</h2>
    <input type="checkbox" id="eightofcups1">
    <input type="checkbox" id="eightofcups12">
    <input type="checkbox" id="eightofcups13">
    <input type="checkbox" id="eightofcups14">
    <input type="checkbox" id="eightofcups15">
    <input type="checkbox" id="eightofcups16">
    <input type="checkbox" id="eightofcups17">
    <input type="checkbox" id="eightofcups18">
    <input type="checkbox" id="eightofcups19">
    <input type="checkbox" id="eightofcups10">
  </div>
  <div>
    <h2>Nine of Cups</h2>
    <input type="checkbox" id="nineofcups1">
    <input type="checkbox" id="nineofcups2">
    <input type="checkbox" id="nineofcups3">
    <input type="checkbox" id="nineofcups4">
    <input type="checkbox" id="nineofcups5">
    <input type="checkbox" id="nineofcups6">
    <input type="checkbox" id="nineofcups7">
    <input type="checkbox" id="nineofcups8">
    <input type="checkbox" id="nineofcups9">
    <input type="checkbox" id="nineofcups10">
  </div>
  <div>
    <h2>Ten of Cups</h2>
    <input type="checkbox" id="tenofcups1">
    <input type="checkbox" id="tenofcups2">
    <input type="checkbox" id="tenofcups13">
    <input type="checkbox" id="tenofcups14">
    <input type="checkbox" id="tenofcups15">
    <input type="checkbox" id="tenofcups16">
    <input type="checkbox" id="tenofcups17">
    <input type="checkbox" id="tenofcups18">
    <input type="checkbox" id="tenofcups19">
    <input type="checkbox" id="tenofcups10">
  </div>
  <div>
    <h2>Knight of Cups</h2>
    <input type="checkbox" id="knightofcups1">
    <input type="checkbox" id="knightofcups2">
    <input type="checkbox" id="knightofcups3">
    <input type="checkbox" id="knightofcups4">
    <input type="checkbox" id="knightofcups5">
    <input type="checkbox" id="knightofcups6">
    <input type="checkbox" id="knightofcups7">
    <input type="checkbox" id="knightofcups8">
    <input type="checkbox" id="knightofcups9">
    <input type="checkbox" id="knightofcups10">
  </div>
  <div>
    <h2>Page of Cups</h2>
    <input type="checkbox" id="pageofcups1">
    <input type="checkbox" id="pageofcups2">
    <input type="checkbox" id="pageofcups3">
    <input type="checkbox" id="pageofcups4">
    <input type="checkbox" id="pageofcups5">
    <input type="checkbox" id="pageofcups6">
    <input type="checkbox" id="pageofcups7">
    <input type="checkbox" id="pageofcups8">
    <input type="checkbox" id="pageofcups9">
    <input type="checkbox" id="pageofcups10">
  </div>
  <div>
    <h2>Queen of Cups</h2>
    <input type="checkbox" id="queenofcups1">
    <input type="checkbox" id="queenofcups2">
    <input type="checkbox" id="queenofcups3">
    <input type="checkbox" id="queenofcups4">
    <input type="checkbox" id="queenofcups5">
    <input type="checkbox" id="queenofcups6">
    <input type="checkbox" id="queenofcups7">
    <input type="checkbox" id="queenofcups8">
    <input type="checkbox" id="queenofcups9">
    <input type="checkbox" id="queenofcups10">
  </div>
  <div>
    <h2>King of Cups</h2>
    <input type="checkbox" id="kingofcups1">
    <input type="checkbox" id="kingofcups2">
    <input type="checkbox" id="kingofcups3">
    <input type="checkbox" id="kingofcups4">
    <input type="checkbox" id="kingofcups5">
    <input type="checkbox" id="kingofcups6">
    <input type="checkbox" id="kingofcups7">
    <input type="checkbox" id="kingofcups8">
    <input type="checkbox" id="kingofcups9">
    <input type="checkbox" id="kingofcups10">
  </div>
  
  <div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>