<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Checklist</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="legends">Legendary Animals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/coins">Coins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/heirlooms">Family Heirlooms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/arrowheads">Arrowheads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Lost Jewelry
      </button>&nbsp;    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bracelets">Bracelets</a>
        <a class="dropdown-item" href="necklaces">Necklaces</a>
        <a class="dropdown-item" href="rings">Rings</a>
        <a class="dropdown-item" href="earings">Earings</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Tarot Cards
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="suitofcups">Cups</a>
        <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
        <a class="dropdown-item" href="suitofswords.html">Swords</a>
        <a class="dropdown-item" href="suitofwands.html">Wands</a>
      </div>
    </div>&nbsp;
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
        Fossils
      </button>    

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
        <a class="dropdown-item" href="">Fossils</a>
      </div>
    </div>&nbsp;

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
            Animals
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="farmland">Farmland Animals</a>
            <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
            <a class="dropdown-item" href="desert">Desert Animals</a>
            <a class="dropdown-item" href="wetland">Wetland Animals</a>
            <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            </div>
    </ul>

    </div>
  </nav>
</head>

<body>
  <h1 align="center">Wetland Animals</h1>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="static/checkbox.js"></script>
  <div id="checkbox-container" align="center">
    <div>
      <h2>American Alligator(small)</h2><br>
      <label for="killedAAS">Killed</label>
      <input type="checkbox" id="killedAAS">
      <label for="SKINNEDAAS">Skinned</label>
      <input type="checkbox" id="SKINNEDAAS">
      <label for="STUDIEDAAS">Studied</label>
      <input type="checkbox" id="STUDIEDAAS">
      <label for="SEDATEDAAS">Sedated</label>
      <input type="checkbox" id="SEDATEDAAS">
      <label for="SAMPLEDAAS">Sampled</label>
      <input type="checkbox" id="SAMPLEDAAS">
      <label for="PHOTOGRAPHEDAAS">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDAAS">
      <label for="SoldAAS">Sample Sold</label>
      <input type="checkbox" id="SoldAAS">
      <H1>__________________________________________</h1>
      <h2>American Alligator</h2><br>
      <label for="killedAA">Killed</label>
      <input type="checkbox" id="killedAA">
      <label for="SKINNEDAA">Skinned</label>
      <input type="checkbox" id="SKINNEDAA">
      <label for="STUDIEDAA">Studied</label>
      <input type="checkbox" id="STUDIEDAA">
      <label for="SEDATEDAA">Sedated</label>
      <input type="checkbox" id="SEDATEDAA">
      <label for="SAMPLEDAA">Sampled</label>
      <input type="checkbox" id="SAMPLEDAA">
      <label for="PHOTOGRAPHEDAA">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDAA">
      <label for="SoldAA">Sample Sold</label>
      <input type="checkbox" id="SoldAA">
      <H1>__________________________________________</h1>
      <h2>Green Iguana</h2><br>
      <label for="killedGI">Killed</label>
      <input type="checkbox" id="killedGI">
      <label for="SKINNEDGI">Skinned</label>
      <input type="checkbox" id="SKINNEDGI">
      <label for="STUDIEDGI">Studied</label>
      <input type="checkbox" id="STUDIEDGI">
      <label for="SEDATEDGI">Sedated</label>
      <input type="checkbox" id="SEDATEDGI">
      <label for="SAMPLEDGI">Sampled</label>
      <input type="checkbox" id="SAMPLEDGI">
      <label for="PHOTOGRAPHEDGI">Photographed</label>
      <input type="checkbox" id="PHOTOGRAPHEDGI">
      <label for="SoldGI">Sample Sold</label>
      <input type="checkbox" id="SoldGI">
      <H1>__________________________________________</h1>
      <h2>Alligator Snapping Turtle</h2><br>
     <label for="killedAST">Killed</label>
     <input type="checkbox" id="killedAST">
     <label for="SKINNEDAST">Skinned</label>
     <input type="checkbox" id="SKINNEDAST">
     <label for="STUDIEDAST">Studied</label>
     <input type="checkbox" id="STUDIEDAST">
     <label for="SEDATEDAST">Sedated</label>
     <input type="checkbox" id="SEDATEDAST">
     <label for="SAMPLEDAST">Sampled</label>
     <input type="checkbox" id="SAMPLEDAST">
     <label for="PHOTOGRAPHEDAST">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDAST">
     <label for="SoldAST">Sample Sold</label>
     <input type="checkbox" id="SoldAST">
     <H1>__________________________________________</h1>
     <h2>Western Diamondback Rattlesnake</h2><br>
     <label for="killedWDR">Killed</label>
     <input type="checkbox" id="killedWDR">
     <label for="SKINNEDWDR">Skinned</label>
     <input type="checkbox" id="SKINNEDWDR">
     <label for="STUDIEDWDR">Studied</label>
     <input type="checkbox" id="STUDIEDWDR">
     <label for="SEDATEDWDR">Sedated</label>
     <input type="checkbox" id="SEDATEDWDR">
     <label for="SAMPLEDWDR">Sampled</label>
     <input type="checkbox" id="SAMPLEDWDR">
     <label for="PHOTOGRAPHEDWDR">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDWDR">
     <label for="SoldWDR">Sample Sold</label>
     <input type="checkbox" id="SoldWDR">
     <H1>__________________________________________</h1>
     <h2>Panter</h2><br>
     <label for="killedP">Killed</label>
     <input type="checkbox" id="killedP">
     <label for="SKINNEDP">Skinned</label>
     <input type="checkbox" id="SKINNEDP">
     <label for="STUDIEDP">Studied</label>
     <input type="checkbox" id="STUDIEDP">
     <label for="SEDATEDP">Sedated</label>
     <input type="checkbox" id="SEDATEDP">
     <label for="SAMPLEDP">Sampled</label>
     <input type="checkbox" id="SAMPLEDP">
     <label for="PHOTOGRAPHEDP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDP">
     <label for="SoldP">Sample Sold</label>
     <input type="checkbox" id="SoldP">
     <H1>__________________________________________</h1>
     <h2>Florida Panther</h2><br>
     <label for="killedFP">Killed</label>
     <input type="checkbox" id="killedFP">
     <label for="SKINNEDFP">Skinned</label>
     <input type="checkbox" id="SKINNEDFP">
     <label for="STUDIEDFP">Studied</label>
     <input type="checkbox" id="STUDIEDFP">
     <label for="SEDATEDFP">Sedated</label>
     <input type="checkbox" id="SEDATEDFP">
     <label for="SAMPLEDFP">Sampled</label>
     <input type="checkbox" id="SAMPLEDFP">
     <label for="PHOTOGRAPHEDFP">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDFP">
     <label for="SoldFP">Sample Sold</label>
     <input type="checkbox" id="SoldFP">
     <H1>__________________________________________</h1>

     <h2>Midland Watersnake</h2><br>
     <label for="killedMWS">Killed</label>
     <input type="checkbox" id="killedMWS">
     <label for="SKINNEDMWS">Skinned</label>
     <input type="checkbox" id="SKINNEDMWS">
     <label for="STUDIEDMWS">Studied</label>
     <input type="checkbox" id="STUDIEDMWS">
     <label for="SEDATEDMWS">Sedated</label>
     <input type="checkbox" id="SEDATEDMWS">
     <label for="SAMPLEDMWS">Sampled</label>
     <input type="checkbox" id="SAMPLEDMWS">
     <label for="PHOTOGRAPHEDMWS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDMWS">
     <label for="SoldMWS">Sample Sold</label>
     <input type="checkbox" id="SoldMWS">
     <H1>__________________________________________</h1>
     <h2>Timber Rattlesnake</h2><br>
     <label for="killedTR">Killed</label>
     <input type="checkbox" id="killedTR">
     <label for="SKINNEDTR">Skinned</label>
     <input type="checkbox" id="SKINNEDATR">
     <label for="STUDIEDTR">Studied</label>
     <input type="checkbox" id="STUDIEDTR">
     <label for="SEDATEDTR">Sedated</label>
     <input type="checkbox" id="SEDATEDTR">
     <label for="SAMPLEDTR">Sampled</label>
     <input type="checkbox" id="SAMPLEDTR">
     <label for="PHOTOGRAPHEDTR">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDTR">
     <label for="SoldTR">Sample Sold</label>
     <input type="checkbox" id="SoldTR">
     <H1>__________________________________________</h1>
     <h2>Northern Copperhead Snake</h2><br>
     <label for="killedNCS">Killed</label>
     <input type="checkbox" id="killedNCS">
     <label for="SKINNEDNCS">Skinned</label>
     <input type="checkbox" id="SKINNEDNCS">
     <label for="STUDIEDNCS">Studied</label>
     <input type="checkbox" id="STUDIEDNCS">
     <label for="SEDATEDNCS">Sedated</label>
     <input type="checkbox" id="SEDATEDNCS">
     <label for="SAMPLEDNCS">Sampled</label>
     <input type="checkbox" id="SAMPLEDNCS">
     <label for="PHOTOGRAPHEDNCS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDNCS">
     <label for="SoldNCS">Sample Sold</label>
     <input type="checkbox" id="SoldNCS">
     <H1>__________________________________________</h1>
     <h2>Southern Copperhead Snake</h2><br>
     <label for="killedSCS">Killed</label>
     <input type="checkbox" id="killedSCS">
     <label for="SKINNEDSCS">Skinned</label>
     <input type="checkbox" id="SKINNEDSCS">
     <label for="STUDIEDSCS">Studied</label>
     <input type="checkbox" id="STUDIEDSCS">
     <label for="SEDATEDSCS">Sedated</label>
     <input type="checkbox" id="SEDATEDSCS">
     <label for="SAMPLEDSCS">Sampled</label>
     <input type="checkbox" id="SAMPLEDSCS">
     <label for="PHOTOGRAPHEDSCS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDSCS">
     <label for="SoldSCS">Sample Sold</label>
     <input type="checkbox" id="SoldSCS">
     <H1>__________________________________________</h1>
     <h2>Cottonmouth Water Snake</h2><br>
     <label for="killedCWS">Killed</label>
     <input type="checkbox" id="killedCWS">
     <label for="SKINNEDCWS">Skinned</label>
     <input type="checkbox" id="SKINNEDCWS">
     <label for="STUDIEDCWS">Studied</label>
     <input type="checkbox" id="STUDIEDCWS">
     <label for="SEDATEDCWS">Sedated</label>
     <input type="checkbox" id="SEDATEDCWS">
     <label for="SAMPLEDCWS">Sampled</label>
     <input type="checkbox" id="SAMPLEDCWS">
     <label for="PHOTOGRAPHEDCWS">Photographed</label>
     <input type="checkbox" id="PHOTOGRAPHEDCWS">
     <label for="SoldCWS">Sample Sold</label>
     <input type="checkbox" id="SoldCWS">
     <H1>__________________________________________</h1>
     <h2>Northern Water Snake</h2><br>
     <label for="killedNWS">Killed</label>
    <input type="checkbox" id="killedNWS">
    <label for="SKINNEDNWS">Skinned</label>
    <input type="checkbox" id="SKINNEDNWS">
    <label for="STUDIEDNWS">Studied</label>
    <input type="checkbox" id="STUDIEDNWS">
    <label for="SEDATEDNWS">Sedated</label>
    <input type="checkbox" id="SEDATEDNWS">
    <label for="SAMPLEDNWS">Sampled</label>
    <input type="checkbox" id="SAMPLEDNWS">
    <label for="PHOTOGRAPHEDNWS">Photographed</label>
    <input type="checkbox" id="PHOTOGRAPHEDNWS">
    <label for="SoldNWS">Sample Sold</label>
    <input type="checkbox" id="SoldNWS">
    <H1>__________________________________________</h1>


    </div>
    <br>
    <button>Check All</button>
  </div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>

</html>