<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(211, 17, 17)";>
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="legends">Legendary Animals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/wildflowers">Wildflowers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/alcohol">Antique Alcohol</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/coins">Coins</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/bird_eggs">Bird Eggs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Lost Jewelry
        </button>&nbsp;    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="bracelets">Bracelets</a>
          <a class="dropdown-item" href="necklaces">Necklaces</a>
          <a class="dropdown-item" href="rings">Rings</a>
          <a class="dropdown-item" href="earings">Earings</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Tarot Cards
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="suitofcups">Cups</a>
          <a class="dropdown-item" href="suitofpentacles.html">Pentacles</a>
          <a class="dropdown-item" href="suitofswords.html">Swords</a>
          <a class="dropdown-item" href="suitofwands.html">Wands</a>
        </div>
      </div>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          Fossils
        </button>    
  
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
          <a class="dropdown-item" href="">Fossils</a>
        </div>
      </div>&nbsp;
  
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
              Animals
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="farmland">Farmland Animals</a>
              <a class="dropdown-item" href="forrest_river">Forrest and River Animals</a>
              <a class="dropdown-item" href="desert">Desert Animals</a>
              <a class="dropdown-item" href="wetland">Wetland Animals</a>
              <a class="dropdown-item" href="mountain_grassland">Mountain and Grasslands Animals</a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              </div>
      </ul>
  
      </div>
    </nav>
  </head>
<body>

<h1 align="center">American Wildflowers</h1>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="static/checkbox.js"></script>


<div id="checkbox-container" align="center">
  <div>
    <h2>Texas Bluebonnet</h2>
    <input type="checkbox" id="texasbluebonnet1">
    <input type="checkbox" id="texasbluebonnet2">
    <input type="checkbox" id="texasbluebonnet13">
    <input type="checkbox" id="texasbluebonnet14">
    <input type="checkbox" id="texasbluebonnet15">
    <input type="checkbox" id="texasbluebonnet16">
    <input type="checkbox" id="texasbluebonnet17">
    <input type="checkbox" id="texasbluebonnet18">
    <input type="checkbox" id="texasbluebonnet19">
    <input type="checkbox" id="texasbluebonnet10">
  </div>
  <div>
    <h2>Bitterweed</h2>
    <input type="checkbox" id="Bitterweed1">
    <input type="checkbox" id="Bitterweed2">
    <input type="checkbox" id="Bitterweed3">
    <input type="checkbox" id="Bitterweed4">
    <input type="checkbox" id="Bitterweed5">
    <input type="checkbox" id="Bitterweed6">
    <input type="checkbox" id="Bitterweed7">
    <input type="checkbox" id="Bitterweed8">
    <input type="checkbox" id="Bitterweed9">
    <input type="checkbox" id="Bitterweed10">
  </div>
  <div>
    <h2>Agarita</h2>
    <input type="checkbox" id="Agarita1">
    <input type="checkbox" id="Agarita2">
    <input type="checkbox" id="Agarita3">
    <input type="checkbox" id="Agarita4">
    <input type="checkbox" id="Agarita5">
    <input type="checkbox" id="Agarita6">
    <input type="checkbox" id="Agarita7">
    <input type="checkbox" id="Agarita8">
    <input type="checkbox" id="Agarita9">
    <input type="checkbox" id="Agarita10">
  </div>
  <div>
    <h2>Wild Rhubarb</h2>
    <input type="checkbox" id="WildRuhbarb1">
    <input type="checkbox" id="WildRuhbarb2">
    <input type="checkbox" id="WildRhubarb3">
    <input type="checkbox" id="Wildruhbarb4">
    <input type="checkbox" id="wildruhbarb5">
    <input type="checkbox" id="wildrubharb6">
    <input type="checkbox" id="wildrubharb7">
    <input type="checkbox" id="wildruhbarb8">
    <input type="checkbox" id="wildrughbarb9">
    <input type="checkbox" id="wildruhbarb10">
  </div>
  <div>
    <h2>Cardinal Flower</h2>
    <input type="checkbox" id="Cardinalflower1">
    <input type="checkbox" id="cardinalflower2">
    <input type="checkbox" id="cardinalflower3">
    <input type="checkbox" id="cardinalflower4">
    <input type="checkbox" id="cardinalflaoers5">
    <input type="checkbox" id="cardinalflower6">
    <input type="checkbox" id="cardinalflower7">
    <input type="checkbox" id="cardinalflower8">
    <input type="checkbox" id="cardinalflower9">
    <input type="checkbox" id="cardinalflower10">
  </div>
  <div>
    <h2>Creek Plum</h2>
    <input type="checkbox" id="creekplum1">
    <input type="checkbox" id="creekplum2">
    <input type="checkbox" id="creekplum13">
    <input type="checkbox" id="creekplum14">
    <input type="checkbox" id="creekplum15">
    <input type="checkbox" id="creekplum16">
    <input type="checkbox" id="creekplum17">
    <input type="checkbox" id="creekplum18">
    <input type="checkbox" id="creekplum9">
    <input type="checkbox" id="creekplum10">
  </div>
  <div>
    <h2>Bloodflower</h2>
    <input type="checkbox" id="Bloodflower1">
    <input type="checkbox" id="Bloodflower2">
    <input type="checkbox" id="Bloodflower3">
    <input type="checkbox" id="Bloodflower4">
    <input type="checkbox" id="Bloodflower5">
    <input type="checkbox" id="Bloodflower6">
    <input type="checkbox" id="Bloodflower7">
    <input type="checkbox" id="Bloodflower8">
    <input type="checkbox" id="Bloodflower9">
    <input type="checkbox" id="Bloodflower10">
  </div>
  <div>
    <h2>Chocolate Daisy</h2>
    <input type="checkbox" id="Chocolatedaisy1">
    <input type="checkbox" id="Chocolatedaisy12">
    <input type="checkbox" id="Chocolatedaisy13">
    <input type="checkbox" id="Chocolatedaisy14">
    <input type="checkbox" id="Chocolatedaisy15">
    <input type="checkbox" id="Chocolatedaisy16">
    <input type="checkbox" id="Chocolatedaisy17">
    <input type="checkbox" id="Chocolatedaisy18">
    <input type="checkbox" id="Chocolatedaisy19">
    <input type="checkbox" id="Chocolatedaisy10">
  </div>
  <div>
    <h2>Wisteria</h2>
    <input type="checkbox" id="Wisteria1">
    <input type="checkbox" id="Wisteria2">
    <input type="checkbox" id="Wisteria3">
    <input type="checkbox" id="Wisteria4">
    <input type="checkbox" id="Wisteria5">
    <input type="checkbox" id="Wisteria6">
    <input type="checkbox" id="Wisteria7">
    <input type="checkbox" id="Wisteria8">
    <input type="checkbox" id="Wisteria9">
    <input type="checkbox" id="Wisteria10">
  </div>
  <!-- <button>Check All</button> -->
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/checkbox.js"></script>
</body>
</html>
